<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// phpcs:disable Magento2.Templates.ThisInTemplate
// phpcs:disable Magento2.Files.LineLength.MaxExceeded

/** @var $block \Magento\Checkout\Block\Cart\Item\Renderer */

$_item = $block->getItem();
$product = $_item->getProduct();
$isVisibleProduct = $product->isVisibleInSiteVisibility();
/** @var \Magento\Msrp\Helper\Data $helper */
$helper = $this->helper(Magento\Msrp\Helper\Data::class);
$canApplyMsrp = $helper->isShowBeforeOrderConfirm($product) && $helper->isMinimalPriceLessMsrp($product);
?>
<tbody class="cart item">
    <tr class="item-actions">
        <td colspan="5">
            <div class="actions-toolbar">
                <?= /* @noEscape */ $block->getActions($_item) ?>
            </div>
        </td>
    </tr>
    <tr class="item-info">
        <td data-th="<?= $block->escapeHtmlAttr(__('Product Item')) ?>" class="col item">
            <?php if ($block->hasProductUrl()) :?>
                <a href="<?= $block->escapeUrl($block->getProductUrl()) ?>"
                   title="<?= $block->escapeHtmlAttr($block->getProductName()) ?>"
                   tabindex="-1"
                   class="product-item-photo">
            <?php else :?>
                <span class="product-item-photo">
            <?php endif;?>
            <?= $block->getImage($block->getProductForThumbnail(), 'cart_page_product_thumbnail')->toHtml() ?>
            <?php if ($block->hasProductUrl()) :?>
                </a>
            <?php else :?>
                </span>
            <?php endif; ?>
            <div class="product-item-details">
                <strong class="product-item-name">
                    <?php if ($block->hasProductUrl()) :?>
                        <a href="<?= $block->escapeUrl($block->getProductUrl()) ?>"><?= $block->escapeHtml($block->getProductName()) ?></a>
                    <?php else :?>
                        <?= $block->escapeHtml($block->getProductName()) ?>
                    <?php endif; ?>
                </strong>
                <?php /*if ($_options = $block->getOptionList()) :?>
                    <dl class="item-options">
                        <?php foreach ($_options as $_option) :?>
                            <?php $_formatedOptionValue = $block->getFormatedOptionValue($_option) ?>
                            <dt><?= $block->escapeHtml($_option['label']) ?></dt>
                            <dd>
                                <?php if (isset($_formatedOptionValue['full_view'])) :?>
                                    <?= $block->escapeHtml($_formatedOptionValue['full_view']) ?>
                                <?php else :?>
                                    <?= $block->escapeHtml($_formatedOptionValue['value'], ['span', 'a']) ?>
                                <?php endif; ?>
                            </dd>
                        <?php endforeach; ?>
                    </dl>
                <?php endif;*/ ?>
                <?php if ($messages = $block->getMessages()) :?>
                    <?php foreach ($messages as $message) :?>
                        <div class= "cart item message <?= $block->escapeHtmlAttr($message['type']) ?>">
                            <div><?= $block->escapeHtml($message['text']) ?></div>
                        </div>
                    <?php endforeach; ?>
                <?php endif; ?>
                <?php $addInfoBlock = $block->getProductAdditionalInformationBlock(); ?>
                <?php if ($addInfoBlock) :?>
                    <?= $addInfoBlock->setItem($_item)->toHtml() ?>
                <?php endif;?>
            </div>
        </td>
        <td class="col sku" data-th="<?= $block->escapeHtmlAttr(__('Size')) ?>">
            <span class="col-title"><?= $block->escapeHtml(__('Size')) ?></span>
            <span>
                <?php $size = $_item->getProduct()->getResource()->getAttribute('size')->getFrontend()->getValue($_item->getProduct()); ?>
                <?php if($size): ?>
                    <?php echo __("%1 мм", $size); ?>
                <?php else: ?>
                    <?php
                        $options = $_item->getProduct()->getTypeInstance(true)->getOrderOptions($_item->getProduct());
                        $result = [];
                        if ($options) {
                            if (isset($options['options'])) {
                                $result = array_merge($result, $options['options']);
                            }
                            if (isset($options['additional_options'])) {
                                $result = array_merge($result, $options['additional_options']);
                            }
                            if (isset($options['attributes_info'])) {
                                $result = array_merge($result, $options['attributes_info']);
                            }
                            if(!empty($result['0']['value'])){
                                $size = $result['0']['value'];
                                echo __("%1", $size);
                            }
                        }
                    ?>
                <?php endif; ?>
            </span>
        </td>
        <td class="col sku" data-th="<?= $block->escapeHtmlAttr(__('Weight')) ?>">
            <span class="col-title"><?= $block->escapeHtml(__('Weight')) ?></span>
            <span>
                <?php $weight = floatval($_item->getWeight()); ?>
                <?= $weight ?>
            </span>
        </td>
        <td class="col sku" data-th="<?= $block->escapeHtmlAttr(__('Sku')) ?>">
            <span class="col-title"><?= $block->escapeHtml(__('Item sku')) ?></span>
            <span><?php echo $_item->getSku(); ?></span>
        </td>

        <td class="col subtotal" data-th="<?= $block->escapeHtmlAttr(__('Price')) ?>">
            <?php if ($canApplyMsrp) :?>
                <span class="cart msrp subtotal">--</span>
            <?php else :?>
                <span class="col-title"><?= $block->escapeHtml(__('Price')) ?></span><?= $block->getRowTotalHtml($_item) ?>
            <?php endif; ?>
        </td>
    </tr>
</tbody>
