<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Product list toolbar
 *
 * @var $block \Magento\Catalog\Block\Product\ProductList\Toolbar
 */
use Magento\Catalog\Model\Product\ProductList\Toolbar;
?>
<div class="toolbar-sorter sorter">
    <label class="sorter-label hidden" for="sorter"><?= /* @escapeNotVerified */ __('Sort By') ?></label>
    <select id="sorter" data-role="sorter" class="sorter-options hidden">
        <?php foreach ($block->getAvailableOrders() as $_key => $_order): ?>
            <option value="<?= /* @escapeNotVerified */ $_key ?>"
                <?php if ($block->isOrderCurrent($_key)): ?>
                    selected="selected"
                <?php endif; ?>
            >
                <?= $block->escapeHtml(__($_order)) ?>
            </option>
        <?php endforeach; ?>
    </select>
    <span class="filter-options-content-sort-cls"></span>
    <div class="sorter-label_list filter-box-inner">
        <div class="filter-options-title"><?= $block->escapeHtml(__('Sort')) ?></div>
        
        <div class="filter-options-content">
            <ol class="items">
            <div class="filter-options-content-sort"><span class="filter-options-content-sort-tittle">
                <?= $block->escapeHtml(__('Sort')) ?></div>
                <?php foreach ($block->getAvailableOrders() as $_key => $_order): ?>
                    <li data-value="<?= /* @escapeNotVerified */ $_key ?>"
                        <?php if ($block->isOrderCurrent($_key)): ?>
                            class="title active"
                        <?php endif; ?>>
                        <?= $block->escapeHtml(__($_order)) ?>
                    </li>
                <?php endforeach; ?>
            </ol>
        </div>
    </div>
    <?php if ($block->getCurrentDirection() == 'desc'): ?>
        <a title="<?= /* @escapeNotVerified */ __('Set Ascending Direction') ?>" href="#" class="action sorter-action sort-desc hidden" data-role="direction-switcher" data-value="asc">
            <span><?= /* @escapeNotVerified */ __('Set Ascending Direction') ?></span>
        </a>
    <?php else: ?>
        <a title="<?= /* @escapeNotVerified */ __('Set Descending Direction') ?>" href="#" class="action sorter-action sort-asc hidden" data-role="direction-switcher" data-value="desc">
            <span><?= /* @escapeNotVerified */ __('Set Descending Direction') ?></span>
        </a>
    <?php endif; ?>
</div>
