<?php $subcategories = $this->getChildCategories(); ?>
<?php $_helper = $this->helper('Magento\Catalog\Helper\Output');?>
<?php if($subcategories && count($subcategories)):?>
    <div id="categoty_name_navigation" class="categoty_name_navigation_class">
        <ul class="category-name-level">
            <?php foreach ($subcategories as $_category): ?>
                <li class="category-information">
                    <a href="<?php echo $_category->getUrl();?>">
                        <?php
                        $_imgHtml   = '';
                        if ($_imgUrl = $_category->getImageUrl()) {
                            $_imgHtml = '<div class="category-image"><img src="' . $_imgUrl . '" alt="' . $_category->getName() . '" title="' . $_category->getName() . '" class="image" /></div>';
                            $_imgHtml = $_helper->categoryAttribute($_category, $_imgHtml, 'image');
                            /* @escapeNotVerified */ echo $_imgHtml;
                        }
                        ?>
                        <span class="category-name"><?php echo $_category->getName();?></span>
                    </a>
                </li>
            <?php endforeach;?>
        </ul>
        <a class="primary action view-home-category-custom" href="#"><span><?= __('Show All') ?></span></a>
    </div>
<?php endif;?>
