<?php $_product = $block->getCurrentProduct(); ?>
<?php /**@var $helper \Triumf\Customization\Helper\Data*/ ?>
<?php $helper = $this->helper('Triumf\Customization\Helper\Data'); ?>
<?php if($helper->isProductNew($_product)): ?>
    <div class="new-label">
        <?= $block->escapeHtml(__('New product')); ?>
    </div>
<?php endif; ?>
<?php if($helper->displayDiscountLabel($_product)): ?>
    <div class="discount-label">
        <?php echo $helper->displayDiscountLabel($_product); ?>
    </div>
<?php endif; ?>
<?php if(!empty($_product->getTopSales())): ?>
    <div class="top-sales-label">
        <?= $block->escapeHtml(__('Top Sales')); ?>
    </div>
<?php endif; ?>
