<div id="wishlist-popup" class="no-display">
    <span class="wishlist-need-register"><?php echo __('Need register') ?></span>
    <span class="wishlist-text"><?php echo __('For adding to wishlist') ?></span>
</div>
