<!--@subject Request a call  @-->

<table border="0" width="600" cellspacing="0" cellpadding="0" align="center">
    <tr class="email-intro">
        <td>
            <p>{{trans "Name: %name" name=$data.name}}</p>
            <p>{{trans "Phone Number: %phone" phone=$data.phone}}</p>
            <p><a href="{{var data.producturl}}">{{var data.producturl}}</a></p>
        </td>
    </tr>
</table>