.cms-home {
    .text-home {

        .text-home-container {
            padding-left: 30px;
            padding-right: 30px;
            max-width: 1170px;
            margin: 15px auto;

        }

        .home-static-img {
            background-size: cover !important;
            background-repeat: no-repeat !important;
            background-position: center !important;

            height: 470px;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                bottom: 0px;
                width: 100%;
                height: 115px;
                background-color: white;
                left: 50%;
                -webkit-transform: translate(-50%);
                        transform: translate(-50%);


            }


        }

        &-tittle {
            max-width: 1169px;
            margin: auto;

            color: #000000;

            font-family: "Futura PT Book";

            font-size: 48px;

            font-weight: 400;

            line-height: 26px;

            text-transform: uppercase;
            position: relative;



            &::before {
                position: absolute;
                content: "";
                display: block;
                width: 100%;

                top: -60px;

                height: 34px;
                background-image: url('@{baseDir}images/line-logo.png');
                background-repeat:no-repeat;
                background-size:cover;
                background-position:center;


            }


        }

        &-post-tittle {
            color: #a37432;

            font-family: "Arial";

            font-size: 22px;

            font-weight: 400;

            text-transform: uppercase;
            margin-bottom: 6rem;

        }

        &-p {
            color: #454545;

            font-family: "Arial";

            font-size: 18px;

            font-weight: 400;

            line-height: 24.01px;
            padding-bottom: 20px;
        }

    }



}
.media-width(@extremum, @break) when (@extremum ='max') and (@break =@screen__m) {
    body.cms-home {
        .text-home {
            &-tittle {


                font-size: 28px;



                &:after {
                    top: -35px;

                    background-image: url('@{baseDir}images/line-logo.png');

                }

                &::before {


                    top: -40px;

                    height: 20px;



                }


            }

            &-post-tittle {


                font-size: 18px;
                margin-bottom: 3rem;


            }
            &-p{
                padding-bottom: 0px;
            }



        }

    }


}

.media-width(@extremum, @break) when (@extremum ='max') and (@break =@screen__s) {
    body.cms-home {
        .text-home {

            .text-home-container {
                padding-left: 30px;
                padding-right: 30px;

            }

            .home-static-img {

                height: 288px;
                position: relative;

                &::before {

                    width: 100%;
                    height: 50px;



                }


            }

            &-tittle {


                font-size: 28px;



                &:after {
                    top: -35px;

                    background-image: url('@{baseDir}images/line-logo320.png');
                    background-size:auto;

                }

                &::before {


                    top: -40px;

                    height: 20px;



                }


            }

            &-post-tittle {


                font-size: 18px;


            }

            &-p {


                font-size: 16px;

            }

        }

    }
}

.media-width(@extremum, @break) when (@extremum ='min') and (@break =@screen__xl) {
    body.cms-home .text-home .home-static-img::before {
        width: 90%;

    }

}