.cms-about-company {
    .aboutcompany {
        padding-bottom: 3rem;
        &_container {
            padding-top: 5rem;
            &:last-child{
                padding-top: 0rem;

            }
            img{
                margin-top: 4rem;
                margin-bottom: 5rem;
                width: 100%;
            }
            ul {
                //list-style-type: square;

                li {
                    color: #454545;
                    font-family: "Arial";
                    font-size: 16px;
                    font-weight: 400;
                    list-style: none;
                position: relative;
                    &::before{
                        content: ''; 
                        margin: 0 10px;
                        vertical-align: top;
                        display: inline-block;
                        font-weight: normal;
                        width: 6px;
                        height: 5px;
                        background-color: #cfa366;
                        position: absolute;
                        left: -46px;
                        top: 9px;
                    }
                }
            }

            p {
                color: #454545;
                font-family: "Arial";
                font-size: 16px;
                font-weight: 400;

            }

            h2 {
                color: #a37432;
                font-family: "Futura PT Book";
                font-size: 22px;
                font-weight: 400;
                text-transform: uppercase;

            }

        }

    }
}
.media-width(@extremum, @break) when (@extremum ='max') and (@break =@screen__s) {
    body.cms-about-company .aboutcompany_container{
        padding-top: 2rem;

    }
    body.cms-about-company .aboutcompany_container img {
        margin-top: 0rem;
        margin-bottom: 1rem;
    
    }
    body.cms-about-company .aboutcompany_container h2{
        font-size: 18px;

    }
    body.cms-about-company .aboutcompany_container p{
        font-size: 15px;

    }
}