.account.wishlist-index-index {
    .products-grid .product-item-info:not(:hover):not(.active) .product-item-inner {
        background:unset;
        box-shadow: none;
        border: none;
        height: auto;
        overflow: visible;
        //position: absolute;
        clip: unset;
        margin: 0;
        position: unset;
    }
    .products-grid.wishlist .product-item-info.active .product-item-inner,
    .products-grid.wishlist .product-item-info:hover, .products-grid .product-item-info.active {
        box-shadow: none;
        border: none;
        margin: 0;
        padding: 0;
        .product-item-inner {
            display: block;
            margin: 0;
            padding: 0;
            position: unset;
        }
    }
    .product-item{
        &:hover{
            a.product-item-link {
                color: #a37432;
                text-decoration: none;
            }
        }
    }
    .product-item-info {
        position: relative;
        width: 240px;
        .product-item-name{
            color: #000000;
            font-family: "Arial";
            font-size: 16px;
            -webkit-transition: .6s all;
            transition: .6s all;
            font-weight: 400;
            text-align: center;
            width: 100%;
            margin-right: 1px;
            padding-bottom: 0px;
            min-height: 38px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
          margin-top: 30px;
            &:hover{
                a {
                    text-decoration: none;
                }
            }
        }
      .new-label, .top-sales-label, .discount-label {
        position: absolute;
        z-index: 5;
        left: 50%;
        transform: translate(-50%, -50%);
      }
        .new-label, .top-sales-label{
            margin:0 auto;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            font-family: "Arial";
            font-size: 14px;
            font-weight: 400;
            line-height: 18px;
            color: #ffffff;
            text-transform: uppercase;
            border-radius: 30px;
        }
        .new-label {
            border: 2px solid #4c3e3d;
            background-color: #4c3e3d;
            color: #ffffff;
            text-transform: uppercase;
            border-radius: 30px;
            margin-bottom: 10px;
          bottom: 91px;
          width: 65%;

        }

        .top-sales-label {
            text-align: center;
            border: 2px solid #a37432;
            background-color: #a37432;
          bottom: 65px;
        }

        .discount-label {
          bottom: 127px;
            margin:0 auto;
            color: #a37432;

            font-family: "Arial";

            font-size: 17px;

            font-weight: 700;

            line-height: 18px;
            border: 2px solid #a37432;
            border-radius: 40px;
            width: 60px;
            height: 26px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            align-items: center;
            -ms-flex-item-align: center;
            align-self: center;
        }
        .product-item-inner {
            box-shadow: none;
            border: none;
            background: unset;
            position: unset;
            .product-item-actions {
                margin: -5px 0 10px;
                .btn-remove.action.delete {
                    &:before {
                        content: '\e600';
                        width: 27px;
                        font-size: 22px;
                        line-height: 20px;
                        color: #a37432;
                    }
                }
            }

            &:hover {
                box-shadow: none;
                border: none;
            }

            button.action.tocart.primary {
                background: #4c3e3d;
                border: 1px solid #4c3e3d;

                &:hover {
                    background-color: #a47432;
                }
            }
        }

        .actions-toolbar > .primary .action {
            background-color: #a47432;
            color: #fff;
            border-radius: unset;
            text-transform: uppercase;
            border: none;

            &:hover {
                background-color: #4c3e3d;
                border: none;
            }
        }
        .price-box {
            -webkit-box-flex: 1;
            -ms-flex-positive: 1;
            text-align: right;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: end;
            -ms-flex-pack: end;
            justify-content: flex-end;
            flex-grow: 1;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
            order: 1;
            position: absolute;
            right: 0;
            .price-as-configured {
                display: flex;
                flex-direction: column;
                .price-label {
                    display: none;
                }

                .special-price .price-wrapper .price, .price-wrapper .price {
                    color: #da1f3c;
                    font-family: "Arial";
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 17.89px;
                }

                .old-price {
                    margin: 5px 0;

                    .price-wrapper .price {
                        color: #505050;
                        font-family: "Arial";
                        text-decoration: line-through;
                        font-size: 15px;
                        font-weight: 400;
                        line-height: 17.55px;
                    }
                }
            }
        }
    }
}

.sales-order-history {
  table {
    thead {
      background-color: #ebebeb;
      .col {
        border-right: 1px solid #fff;
        border-left: 1px solid #fff;
        border-bottom: none;
        padding: 19px 14px;
      }
    }
    tbody{
      td.col.actions a {
        color: #a47432;
        font-size: 14px;
        text-decoration: none;
        font-weight: 600;
        &:hover{
          color: #4c3e3d;
        }
        &:visited{
          color: #4c3e3d;
        }
      }
    }
  }
}
.sales-order-view{
  a {
    color: #a47432;
    font-size: 14px;
    text-decoration: none;
    &:hover{
      color: #4c3e3d;
    }
  }
  ul.nav.items{
    margin-bottom: 30px;
  }
  span.order-status, .order-date, .order-actions-toolbar {
    width: 100%;
    max-width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
  }
  span.order-status {
    border: none;
    text-align: center;
    color: #000;
    font-family: "Arial";
    font-size: 22px;
    font-weight: 400;
    background: #ebebeb;
  }
  .order-date{
    padding-top:30px;
  }
  .order-actions-toolbar {
    a {
      color: #a47432;
      font-size: 14px;
      text-decoration: none;
      font-weight: 600;
      &:hover{
        color: #4c3e3d;
      }
    }
  }
}
.account {
  .limiter-options{
    border: 2px solid #a37331;
    background-color: #fff;
  }
  select:not([disabled]):focus {
    box-shadow: 0 0 3px 1px #4c3e3d;
  }
  .page-wrapper{
    font-family: "Arial";
  }
  .breadcrumbs {
    margin-top: -30px;
    top: 40px;
    .items .item.account {
      display: inline-block;
      a {
        color: #ffffff;
        font-family: "Arial";
        font-size: 14px;
        font-weight: 400;
        text-decoration: underline;
      }
    }
  }
  ul.nav.items{
    max-width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .actions-toolbar > .primary .action {
    height: 60px;
    width: 260px;
  }

  .page-title-wrapper {
    position: unset;
  }

  .header-wrap {
    background: url('@{baseDir}images/triumf_history.png') no-repeat center;
    background-size: cover;
  }
  ul.nav {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1280px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;

    li {
      width: 260px;
      padding: 20px 0;
      background-color: #fff;
      margin: 0 2px 2px 2px;
      text-align: center;

      &:hover, &:visited {
        background-color: #4c3e3d;

        a, strong {
          color: #fff;
        }
      }

      a, strong {
        font-size: 14px;
        color: #515050;
        font-weight: 500;
        text-transform: uppercase;
        text-decoration: none;
      }
    }

    li.current {
      background-color: #4c3e3d;

      a, strong {
        color: #fff;
      }
    }
  }
  .logout {
    position: relative;
    top: 20px;
    text-align: right;
    margin-left: 15px;
    width: 31%;
    display: flex;
    justify-content: flex-end;
    a{
      color: #a47432;
      font-size: 12px;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 600;
      &:before{
        display: none;
      }
      &:hover{
        color: #4c3e3d;
      }
    }
  }
  form.form-edit-account {
    input[type="email"], input[type="password"], input[type="text"] {
      height: 60px;
      border: 1px solid #d1d3d4;
    }

    input:not([disabled]):focus {
      -webkit-box-shadow: 0 0 3px 1px #d2a361;
              box-shadow: 0 0 3px 1px #d2a361;
    }

    .fieldset.info .field {
      label {
        font-weight: 600;
      }
      .control {
        margin-top: 8px;
      }
    }
    .actions-toolbar {
      text-align: center;
      .primary {
        float: none;
        button {
          background-color: #a47432;
          border-radius: unset;
            width: 370px;
          //padding: 22px 65px;
          text-transform: uppercase;
          border: none;
          &:hover {
            background-color: #4c3e3d;
            border: none;
          }
        }
      }
    }
  }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .wishlist-index-index .products-grid li.product-item{
        padding: 5px;
        .product-item-info .top-sales-label{
            font-size: 14px;
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  .account {
    ul.nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      border-bottom: 1px solid #d1d3d4;
      li.nav {
        margin-bottom: 0;
      }
    }
  }
    .wishlist-index-index .products-grid .product-item{
        width: calc((100% - 4%) / 3);
        padding:5px;
        .product-item-info .top-sales-label{
            font-size: 14px;
            width: 65%;
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
  .account{
    .breadcrumbs {
      display: none;
    }
    ul.nav.items {
      width: auto;
      margin-left: 0;
      margin-right: 0;
      li {
        width: auto;
        background-color: #ebebeb;
      }
      .logout {
        width: 100%;
        z-index: 8;
        margin-left: 0;
      }
    }
    form .actions-toolbar > .primary .action {
      width: 100%;
    }
      .products-grid.wishlist .product-item{
          position: relative;
          width: calc((100% - 4%) / 3);
          margin-left: 1%;
          padding: 5px;
          border:none;
          .product-item-info .top-sales-label, .product-item-info .new-label{
              font-size: 12px;
              width: 55%;
          }
        .product-item-info .top-sales-label{
          bottom: 29px;
        }
        .product-item-info .new-label{
          bottom: 57px;
        }
        .product-item-info .discount-label{
          bottom: 96px;
        }
          .product-image-container{
              max-width: 100%;
          }
          .product-item-photo{
              float:none;
              margin-right: 0;
          }
          .product-item-name{
              margin-left: 0;
          }
      }
  }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .account.wishlist-index-index .products-grid .product-item{
        width: calc((100% - 2%)/2);
        border: none;
        .product-item-info {
            width: 100%;
            text-align: center;
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .account.wishlist-index-index .products-grid .product-item{
        width: 100%;
    }
}

