.cms-our-privileges {
    .advantages {
        &_container {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            -webkit-box-pack: center;
                    -ms-flex-pack: center;
                justify-content: center;
            margin-left: -10px;
            margin-right: -10px;
            padding-top: 64px;
            padding-bottom: 34px;

        }

        &_item {
            background-repeat: no-repeat !important;
            background-size: cover !important;
            background-position: center !important;
            width: calc(~'50% - 20px');
            height: 344px;
            margin: 10px;
            padding: 28px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                flex-direction: column;
            -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                justify-content: space-between;

            h4 {
                font-family: "Futura PT Book";

                font-size: 30px;

                font-weight: 400;

                text-transform: uppercase;
                color: #ffffff;
            }

            p {
                color: #ffffff;

                font-family: "Arial";

                font-size: 18px;

                font-weight: 400;

                line-height: 24px;
            }

        }

        &_item-big {
            background-repeat: no-repeat !important;
            background-size: cover !important;
            background-position: center !important;
            height: 468px;
            width: calc(~'100%');
            margin-left: 10px;
            margin-right: 10px;
            margin-top: 64px;

        }
    }

}
.media-width(@extremum, @break) when (@extremum ='max') and (@break =@screen__m) {
    body.cms-our-privileges .advantages_item{
        height: auto;
    }
}
.media-width(@extremum, @break) when (@extremum ='max') and (@break =@screen__s) {
    body.cms-our-privileges .advantages_item{
        width: calc(~'100%');
    
    }
    body.cms-our-privileges .advantages_item-big{
        height: 200px;
        margin-top: 24px;
    }
    body.cms-our-privileges .advantages_container{
        padding-top: 20px;
padding-bottom: 0px;

    }
}
