.cms-home {
    .page-title-wrapper {
        display: none;

    }

    .carousel-container {
        margin-top: -50px;
        .owl-carousel {
            .banner-item.banner-slider {
                .item-container{
                    max-width: 1197px;
                    margin: auto;
                    height: 100%;
                }
                .item {
                    background-size: cover !important;
                    background-repeat: no-repeat !important;
                    background-position: center !important;
                    width: 100%;
                    height: 500px;
                    

                    .item-text {
                        position: relative;
                        max-width: 407px;
                        top: 24%;
                        left: 5%;

                        h2 {
                            color: #000000;

                            font-family: "Futura PT Book";

                            font-size: 67px;

                            font-weight: 400;

                            text-transform: uppercase;
                        }

                        h4 {
                            color: #ffffff;

                            font-family: "Futura PT Book";

                            font-size: 36px;

                            font-weight: 400;

                            text-transform: uppercase;


                        }
                    }
                }
            }

            .owl-nav {
                button {
                    -webkit-box-align: center;
                            -ms-flex-align: center;
                        align-items: center;
                    width: 11%;
                }

                .owl-prev {
                    span {
                        color: transparent;
                        font-size: 0;

                        &:before {
                            content: "\e900";
                            color: #fff;
                            .icon;
                            font-size: 60px;
                        }
                    }

                }

                .owl-next {
                    span {
                        color: transparent;
                        font-size: 0;

                        &:before {
                            content: "\e901";
                            color: #fff;
                            .icon;
                            font-size: 60px;
                        }
                    }

                }

            }

        }
    }


}




//media

.media-width(@extremum, @break) when (@extremum ='max') and (@break =@screen__s) {
    body.cms-home {
        .carousel-container .owl-carousel .banner-item.banner-slider {
            .item {

                width: 100%;
                height: 253px;

                .item-text {
                    max-width: 176px;
                    position: relative;
                    top: 20%;
                    left: 9%;

                    h2 {

                        font-size: 28px;


                    }

                    h4 {

                        font-size: 18px;



                    }
                }
            }
        }

        .carousel-container .owl-carousel .owl-nav .owl-prev span::before {
            font-size: 25px;
        }

        .carousel-container .owl-carousel .owl-nav .owl-next span::before {
            font-size: 25px;
        }

        .carousel-container {
            .owl-carousel {
                .owl-nav {
                    button {
                        width: 25%;
                    }


                }

            }
        }



    }

}
.media-width(@extremum, @break) when (@extremum ='max') and (@break =@screen__m) {
    body.cms-home {
        .carousel-container .owl-carousel .banner-item.banner-slider {
            .item {

                height: 366px;

                .item-text {
                    max-width: 260px;
                    position: relative;
                    top: 30%;
                    left: 9%;
                    h2 {

                        font-size: 40px;


                    }

                    h4 {

                        font-size: 22px;



                    }
                }
            }
        }

        .carousel-container .owl-carousel .owl-nav .owl-prev span::before {
            font-size: 50px;
        }

        .carousel-container .owl-carousel .owl-nav .owl-next span::before {
            font-size: 50px;
        }

        .carousel-container {
            .owl-carousel {
                .owl-nav {
                    button {
                        width: 25%;
                    }


                }

            }
        }



    }

}

.media-width(@extremum, @break) when (@extremum ='min') and (@break =@screen__xl) {
    body.cms-home .carousel-container .owl-carousel .banner-item.banner-slider .item{
        height: 600px;
    }
    body.cms-home .carousel-container .owl-carousel .banner-item.banner-slider .item .item-text{
        left: 1%;

    }
}


