.page-wrapper .breadcrumbs {
    position: relative;
    margin-top: -30px;
    top: 40px;
    z-index: 1;
    max-width: 1200px;

    .items {
        .item.cms_page, .item.category3, .item.product, .item.category, .item.home, li.item{
            display: inline-block;
            text-transform: initial;
            a {
                color: #ffffff;

                font-family: "Arial";

                font-size: 14px;

                font-weight: 400;


            }


        }

        .item.cms_page, .item.category3, .item.product, .item.category, .item.home, li.item {
            display: inline-block;
            strong {
                color: #ffffff;

                font-family: "Arial";

                font-size: 14px;

                font-weight: 400;

                border-bottom: 1px solid #fff;
            }

        }

    }


}

.breadcrumbs .item:not(:last-child)::after {
line-height: 18px;
content: '\e608';
font-family: 'luma-icons';
margin: 0 10px;
vertical-align: top;
display: inline-block;
font-weight: normal;
overflow: hidden;
speak: none;
text-align: center;
    font-size: 0px;
    width: 6px;
    height: 5px;
    background-color: #cfa366;
    vertical-align: unset;

}