.cms-home {
    .categoty_name_navigation_class {
        text-align: center;
        ul.category-name-level li:nth-child(2n) a{
            color: #000;
        }
        ul.category-name-level li:nth-child(n+7){display:none;}
        .category-name-level {
            max-width: 1197px;
            margin: auto;
            padding: 15px 0;
            .category-information {
                margin: 5px;
                display: inline-block;
                list-style: none;
                a {
                    padding: 0;
                    position: relative;
                    text-decoration: none;
                    color: #000;
                    display: block;
                    -webkit-transition: .4s;
                    transition: .4s;
                    &:after {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background: rgba(76, 62, 61, 0.5);
                        opacity: 0;
                        -webkit-transition: .4s all;
                        transition: .4s all;
                    }
                    &:hover {
                        -webkit-transition: .4s all;
                        transition: .4s all;

                        &:after {
                            opacity: 1;

                        }
                        .category-name {
                            top: 30px;
                            left: 30px;

                            font-size: 18px;
                            -webkit-transition: .4s all;
                            transition: .4s all;
                            color: white !important;
                            z-index: 1;
                        }
                    }
                }
                .category-image {
                    margin-bottom: 0;
                    .image {
                        width: 100%;
                        margin: auto;
                    }
                }

                .category-name {
                    display: block;
                    position: absolute;
                    top: 30px;
                    left: 30px;
                    color: #000000;

                    font-family: "Futura PT Book";

                    font-size: 30px;
                    text-align: left;

                    font-weight: 400;

                    text-transform: uppercase;


                }

                &:last-child {

                    .category-name {
                        color: #be8f4d;
                    }

                }
            }

        }

    }

}
.media-width(@extremum, @break) when (@extremum ='min') and (@break =@screen__m) {
    .cms-home {
        div.categoty_name_navigation_class {
            ul.category-name-level {
                .category-information {
                    width: calc(31%);
                }
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum ='min') and (@break =@screen__l) {
    .cms-home {
        div.categoty_name_navigation_class {
            ul.category-name-level {
                .category-information {
                    width: calc(32%);
                    a {
                        padding: 0;
                    }
                }
            }

        }

    }

}

//media
.media-width(@extremum, @break) when (@extremum ='max') and (@break =@screen__m) {
    body.cms-home {
        div.categoty_name_navigation_class {
            ul.category-name-level {
                li.category-information {
                    width: calc(46%);
                    margin-bottom: 6px;
                    margin-top: 6px;
                }
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum ='max') and (@break =@screen__s) {
    body.cms-home {
        div.categoty_name_navigation_class {
            ul.category-name-level {
                li.category-information {
                    .category-name {
                        top: 10px;
                        left: 10px;
                        font-size: 18px;
                    }

                    //&:last-child {
                    //    .category-name {
                    //        color: #be8f4d;
                    //    }
                    //
                    //}


                }
            }

        }

    }




}
