.page-with-filter {
  .products.wrapper.grid.products-grid ol.products.list.items.product-items .product-item {
    .product-item-details {
      .swatch-attribute.size {
        display: none;
      }
    }
  }
  dl.block{
    display: none;
  }
  #state-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    .block-actions.filter-actions {
      margin-bottom: 10px;
      margin-right: 20px;
        a{
            &:hover, &:visited{
                text-decoration:none;
            }
        }

      .action.clear.filter-clear {
        span {
          color: #515050;
          font-family: "Arial";
          font-size: 14px;
          font-weight: 400;
          position: relative;

          &::after {
            content: "";
            position: absolute;
            width: 10px;
            height: 10px;
            background-image: url('@{baseDir}images/cls2.svg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            right: -15px;
            top: 2px;

          }
        }
      }

    }

  }

  .amshopby-filter-current.filter-current {
    .block-subtitle.filter-current-subtitle {
      display: none;

    }

    .amshopby-items.items {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
        padding: 10px 0;
      .amshopby-items.items {
        display: none;

      }

      .item.amshopby-item {
        padding: 0 28px 0 0;
          z-index: 0;

        span {
          color: #515050;
          font-family: "Arial";
          font-size: 14px;
          font-weight: 400;
          line-height: 14px;
        }

        .amshopby-filter-value {
          color: #515050;
          font-family: "Arial";
          font-size: 14px;
          font-weight: 400;
          line-height: 14px;

          .am-swatch-wrapper.item.swatch-option-link-layered .swatch-option.text.selected {
            border: 1px solid #a37432;
            background-color: #a37432 !important;
            color: #fff;
            border-radius: 40px;
            outline: none;

          }

          .am-swatch-wrapper.item.swatch-option-link-layered .swatch-option.text {
            background: #fff;
            color: #686868;
            font-size: 12px;
            font-weight: 700;
            line-height: 1px;
            margin-right: 7px;
            min-width: 23px;
            padding: 16px 8px;
            border-radius: 40px;
            color: #454545;
            font-family: "Arial";
            font-size: 16px;
            font-weight: 600;
            border: 1px solid #d1d3d4;

            &:hover {
              border: 1px solid #a37432;
              background-color: #a37432;
              color: #fff;
              border-radius: 40px;
              outline: none;
            }

            &:focus {
              -webkit-box-shadow: none;
              box-shadow: none;
            }
          }



        }

        .amshopby-remove {
          right: 10px;
          left: auto;
        }

      }
    }


  }

  .page-with-filter-pop-mobs, .page-with-filter-pop-mobs-pod {
    z-index: 0;
  }

  .filter-options-content.page-with-filter-pop-mob {
    width: 100% !important;
    height: 100%;
    background: #fff;
    position: fixed;
    display: block !important;
    top: 0;
    left: 0;
    z-index: 99999;

    ol.items {
      width: 100%;
      height: 100%;
      background: #fff;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 99;
      -webkit-box-align: start !important;
      -ms-flex-align: start !important;
      align-items: flex-start !important;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
      justify-content: flex-start !important;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;

      .filter-options-content-sort {
        width: 100%;
        background-color: #a37432;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        height: 53px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding-left: 6%;
        padding-right: 6%;

        .filter-options-content-sort-tittle {
          color: #ffffff;
          font-family: "Arial";
          font-size: 14px;
          font-weight: 400;
          line-height: 14px;
          text-transform: uppercase;

        }

        .filter-options-content-sort-cls {
          display: inline-block;
          width: 26px;
          height: 26px;
          cursor: pointer;
          background-image: url('@{baseDir}images/close.svg');
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;


        }

      }


      li {
        width: 89%;
        -webkit-box-flex: 0 !important;
        -ms-flex-positive: 0 !important;
        flex-grow: 0 !important;
        max-width: none !important;
        margin-left: 6% !important;
        margin-right: 6% !important;
        border-bottom: 1px solid #ccc;
        text-align: left;
        color: #515050;
        font-family: "Arial" !important;
        font-size: 14px !important;
        font-weight: 600 !important;
        line-height: 14px;
        padding-top: 20px;
        padding-bottom: 20px;
      }

    }
  }

  .products.wrapper~.toolbar .limiter {
    display: none;
  }

  .sidebar.sidebar-main .block.filter.active .filter-title strong {
    color: transparent;
    padding: 7px 21px;
    width: auto;
    background: #a37432;
    right: 5%;
    padding-right: 0;

    &::after {
      color: #ffffff;

    }
  }

  .sidebar.sidebar-main .block.filter.active .filter-title span {
    display: block;
    color: #ffffff;
    font-family: "Arial";
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-transform: uppercase;
  }

  .sidebar.sidebar-main .block.filter .filter-title span {

    color: #ffffff;

  }

  .sidebar.sidebar-main .block.filter.active .block-title.filter-title {
    background: #a37432;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
  }

  .sidebar.sidebar-main .filter-title strong {
    background-color: #fff;
    color: #000000;
    font-family: "Arial";
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    width: 50%;
    padding: 17px 10px;
    cursor: pointer;
    box-shadow: none;
    -webkit-border-radius: unset;
    -moz-border-radius: unset;
    border-radius: unset;
  }

  .toolbar.toolbar-products {
      margin-bottom: 10px;
    .pages {
      width: 100%;
      margin-top: 132px;

      .items.pages-items {
        .page {
          display: inline-block;
          margin-right: 10px;
          cursor: pointer;
          font-size: 18px;
          color: #000000;
          font-family: "Arial";
          font-size: 18px;
          font-weight: 600;

        }

        .item.current {
          .page {
            color: #be8f4d;
            border: 2px solid #be8f4d;
            border-radius: 60px;
            padding: 2px 20px;
            background: white;
          }

        }

        .item.pages-item-next {
          display: inline-block;

          a {
            -webkit-box-shadow: none;
            box-shadow: none;
            border: none;
            font: inherit;
            color: #fff;
            background: transparent;

            &:hover,
            &:focus {
              border: none;
              color: #fff;
              background: transparent;
            }

            position: relative;

            &:before {
              color: #be8f4d;
              content: "\e901";
              font-family: 'icomoon' !important;
              top: 0;
              font-size: 22px;
              font-weight: 600;
              right: 0;
              margin: auto;
            }

          }

        }

        .item.pages-item-previous {
          display: inline-block;

          a {
            -webkit-box-shadow: none;
            box-shadow: none;
            border: none;
            font: inherit;
            color: #fff;
            background: transparent;

            &:hover,
            &:focus {
              border: none;
              color: #fff;
              background: transparent;
            }

            position: relative;

            &::before {
              content: "\e900";
              font-family: 'icomoon' !important;
              color: #be8f4d;
              top: 0;
              font-size: 22px;
              right: 0;
              margin: auto;
              font-weight: 600;
            }

          }

        }

      }


    }

  }

  .columns {
    margin-top: 25px;

  }
    .header-wrap {
        background: url('@{baseDir}images/triumf_rings.png') no-repeat center;
        background-size: cover;
    }
  .page-main .category-view {
    display: none;

  }

  .sidebar.sidebar-additional {
    display: none;

  }

  .columns .column.main .toolbar.toolbar-products {
    .modes {
      display: none;

    }

    .toolbar-amount {
      display: none;

    }

    .toolbar-sorter.sorter {
      width: 100%;

      .filter-options-content-sort-cls {
        content: "";
        display: inline-block;
        width: 26px;
        height: 26px;
        cursor: pointer;
        background-image: url('@{baseDir}images/close.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: fixed;
        z-index: 999999;
        top: 12px;
        right: 6%;
      }

      .sorter-label_list.filter-box-inner {
        padding-top: 20px;
        padding-bottom: 20px;
        border-top: 1px solid #d1d3d4;
        border-bottom: 1px solid #d1d3d4;

        .filter-options-title {
            color: #000000;
          font-family: "Arial";
          font-size: 14px;
          font-weight: 600;
          line-height: 14px;
          padding: 0;
          text-transform: capitalize;
          width: 13%;
          text-align: left;

          &::after {
            display: none;

          }

        }

        .filter-options-content {
            width:100%;
          padding: 0;
          ol {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            margin: 0;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            li {
              color: #515050;
              font-family: "Arial";
              font-size: 14px;
              font-weight: 400;
              -webkit-box-flex: 1;
              -ms-flex-positive: 1;
              flex-grow: 1;
              margin: 0;
              position: relative;
              cursor: pointer;
            }
          }

        }
      }
    }

  }

  .products-grid .product-item-info{
    .product-item-details{
      .swatch-attribute.size{
        display: none;
      }
    .product-item-inner {
      display: block;
      background: transparent;
      -webkit-box-shadow: none;
      box-shadow: none;
      border: none;
    }
  }


  }





  .abs-visually-hidden-desktop-s,
  .products-grid .product-item-info:not(:hover):not(.active) .product-item-inner, div.products-grid .product-item-info .product-item-inner {
    border: none;
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 29px;
    margin: 5px 0 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 32px;
    .product-item-actions{
      margin: -5px 0 10px;
      .actions-primary + .actions-secondary > .action{
        width: 27px;
      }
      .actions-secondary > .action{
        &:before{
          width: 27px;
          font-size: 22px;
          line-height: 20px;
        }
      }
    }
  }

  .range.am-fromto-widget .am-filter-go {
    display: none;
  }

  .product-item-actions .actions-primary {
    display: none;
  }

  .products-grid .product-item-info:hover,
  .products-grid .product-item-info.active {
    margin: 0;
    padding: 0;
  }

  .products.wrapper.grid.products-grid {
    margin:0;
    ol.products.list.items.product-items {
      .product-item {
        position: relative;
      }
      .product-item {
        div[data-rendered="true"] {
          width: 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
        }
          .swatch-attribute-options {
            width: 100%;
            text-align: center;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;

            .swatch-option.text.selected {
              border: 1px solid #a37432;
              background-color: #a37432 !important;
              color: #fff;
              border-radius: 40px;
              outline: none;

            }

            .swatch-option.text {
              background: #fff;
              color: #686868;
              font-size: 12px;
              font-weight: 700;
              line-height: 1px;
              margin-right: 7px;
              min-width: 23px;
              padding: 16px 8px;
              border-radius: 40px;
              color: #454545;
              font-family: "Arial";
              font-size: 16px;
              font-weight: 600;
              border: 1px solid #d1d3d4;

              &:hover {
                border: 1px solid #a37432;
                background-color: #a37432;
                color: #fff;
                border-radius: 40px;
                outline: none;

              }

              &:focus {
                -webkit-box-shadow: none;
                box-shadow: none;
              }
            }
        }


        .product-item-info:hover {

          .product.details.product-item-details {
            .product.name.product-item-name {
              a {
                color: #a37432;
              }
                &:hover{
                    a {
                        text-decoration: none;
                    }
                }

            }

          }

        }

        .product-item-info {
          position: relative;
          .product-image-wrapper {
            .product-image-photo {
              width: 100%;
            }
          }
          .new-label, .top-sales-label, .discount-label {
            z-index: 5;
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);
          }
          .new-label {
            top: -21px;

            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            border: 2px solid #4c3e3d;
            background-color: #4c3e3d;
            color: #ffffff;
            font-family: "Arial";
            font-weight: 400;
            line-height: 18px;
            text-transform: uppercase;
            border-radius: 30px;
          }

          .top-sales-label {
            top: 14px;
            text-align: center;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            border: 2px solid #a37432;
            background-color: #a37432;
            color: #ffffff;
            font-family: "Arial";
            font-weight: 400;
            line-height: 18px;
            text-transform: uppercase;
            border-radius: 30px;
          }

          .discount-label {
            top: -52px;


            color: #a37432;

            font-family: "Arial";

            font-size: 17px;

            font-weight: 700;

            line-height: 18px;
            border: 2px solid #a37432;
            border-radius: 40px;
            width: 60px;
            height: 26px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -ms-flex-item-align: center;
            align-self: center;
          }

        }

        .product.details.product-item-details {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          -ms-flex-pack: distribute;
          justify-content: space-around;
          position: relative;
          //.product-labels{
          //  width: 100%;
          //  z-index: 99;
          //  height: 25px;
          //  margin-top: 7px;
          //}

          .product-reviews-summary.short.empty {
            .reviews-actions {
              .action.add {
                position: relative;
                font-size: 0;
                width: 24px;
                display: block;
                height: 21px;
                -webkit-box-flex: 1;
                -ms-flex-positive: 1;
                flex-grow: 1;
                margin-top: 2px;

                &::before {
                  position: absolute;
                  content: "";
                  font-size: 20px;
                  background: url('@{baseDir}images/heart.png') no-repeat;
                  background-size: cover;
                  width: 24px;

                  height: 21px;


                }

              }

            }

          }

          .price-label {
            display: none;

          }

          .price-wrapper {
            .price {
              color: #da1f3c;

              font-family: "Arial";

              font-size: 18px;

              font-weight: 400;

              line-height: 17.89px;

            }

          }

          .product.name.product-item-name {
            color: #000000;
            font-family: "Arial";
            font-size: 16px;
            -webkit-transition: .6s all;
            transition: .6s all;
            font-weight: 400;
            text-align: center;
            width: 100%;
            margin-right: 1px;
            padding-bottom: 0px;
            margin-top:30px;
            min-height: 38px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;

          }

          .price-box {
            -webkit-box-flex: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
            text-align: right;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: end;
            -ms-flex-pack: end;
            justify-content: flex-end;
            flex-grow: 1;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
            order: 1;

            .old-price {
              span {
                color: #505050;

                font-family: "Arial";
                text-decoration: line-through;

                font-size: 15px;

                font-weight: 400;

                line-height: 17.55px;

              }


            }
          }

        }

      }

    }

  }


  .products-grid .product-item-info .product-item-inner {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 17px;
    margin: 12px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 27px;
  }

  .page-with-filter .products-grid .product-item-info .product-item-inner,
  .page-with-filter .products-grid .product-item-info .product-item-inner {
    margin: 12px;
  }

  .product-item .action.towishlist::before {
    color: #a37432;
  }

  .sidebar.sidebar-main {
    .block-content.filter-content {
      .filter-options {
        .filter-options-item{
          padding-bottom: 15px;
          padding-top: 15px;
          .filter-options-title {
            padding-bottom: 10px;
            padding-left: 0px;

          }
        }
        .filter-options-item.allow.active {

          .filter-options-title {
            font-family: "Arial";
            font-size: 16px;
            color: #000;
            text-transform: none;
            padding-bottom: 0px!important;


            &::after {
              width: 15px;
              height: 2px;
              background-image: url('@{baseDir}images/minus.svg') !important;
              background-repeat: no-repeat;
              background-size: cover;
              background-position: center;
              font-size: 0;
              margin-top: 7px;

            }

          }
        }

        .filter-options-title {
          font-family: "Arial";
          font-size: 16px;
          color: #000;
          text-transform: none;

          &::after {
            width: 15px;
            height: 15px;
            background-image: url('@{baseDir}images/plus.svg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            font-size: 0;

          }

        }

        .filter-options-content {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          padding-left: 0;

          .am-filter-items-attr_length {
            width: 100%;
            text-align: center;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;

            .am-swatch-wrapper.item.swatch-option-link-layered .swatch-option.text.selected {
              border: 1px solid #a37432;
              background-color: #a37432 !important;
              color: #fff;
              border-radius: 40px;
              outline: none;

            }

            .am-swatch-wrapper.item.swatch-option-link-layered .swatch-option.text {
              background: #fff;
              color: #686868;
              font-size: 12px;
              font-weight: 700;
              line-height: 1px;
              margin-right: 7px;
              min-width: 23px;
              padding: 16px 8px;
              border-radius: 40px;
              color: #454545;
              font-family: "Arial";
              font-size: 16px;
              font-weight: 600;
              border: 1px solid #d1d3d4;

              &:hover {
                border: 1px solid #a37432;
                background-color: #a37432;
                color: #fff;
                border-radius: 40px;
                outline: none;
              }

              &:focus {
                -webkit-box-shadow: none;
                box-shadow: none;
              }
            }
          }



          .am-filter-price {
            max-width: none;
          }

          .items.am-filter-items-attr_price {
            -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
            order: 1;
          }

          .range {
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            margin-right: 9px;
            margin-bottom: 10px;

            input {
              border: 2px solid #a37432;
            }
          }


          .amshopby-slider-container .am-slider .ui-slider-handle {
            border-radius: 1px;
            width: 10px;
            height: 10px;
            background-color: #a37432;
            margin-top: -4px;
          }

          .amshopby-slider-container .ui-slider-range {
            height: 3px;
            background-color: #a37432;
          }

          .ui-slider-horizontal {
            height: 3px;
            background-color: #a37432;
          }

          .delimiter {
            display: none;
          }

          .am-ranges {
            .item {
              input {
                display: none;

              }

              a {
                color: #515050;
                font-family: "Arial";
                font-size: 14px;
                font-weight: 400;
                position: relative;

                &:hover {
                  background-color: transparent;
                  color: #a37432;


                }
              }



              input+a::before {
                content: "";
                color: transparent;
                display: inline-block;
                border: 2px solid #a37432;
                font-size: 13px;
                line-height: 22px;
                margin: -5px 5px 0 0;
                height: 19px;
                width: 19px;
                text-align: center;
                vertical-align: middle;
                -webkit-transition: color ease .3s;
                transition: color ease .3s;
              }

              input+a::after {
                content: "";
                background-color: transparent;
                display: inline-block;
                font-size: 13px;
                line-height: 22px;

                height: 13px;
                width: 13px;
                text-align: center;
                vertical-align: middle;
                -webkit-transition: color ease .3s;
                transition: color ease .3s;
                left: 10px;
                top: 0px;
                position: absolute;
              }




              input:checked+a::after {
                background-color: #a37432;
                color: #a37432;
              }

              input:checked+a {

                color: #a37432;
              }






              input:focus+a:before {
                -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, .2), 0 0 0 3px rgba(255, 255, 0, .7);
                box-shadow: inset 0 2px 3px rgba(0, 0, 0, .2), 0 0 0 3px rgba(255, 255, 0, .7);
              }

            }

          }

        }

        .filter-options-content a {
          color: #515050;
          font-family: "Arial";
          font-size: 14px;
          font-weight: 400;
        }

      }

      .block-subtitle.filter-subtitle {
        display: none;

      }
    }
  }
}

.media-width(@extremum, @break) when (@extremum ='min') and (@break =@screen__l) {
    .columns .column.main .toolbar.toolbar-products {
        div.toolbar-sorter.sorter {
            .sorter-label_list.filter-box-inner {
                .filter-options-content {
                    ol {
                        .title.active {
                            white-space: unset;
                        }
                    }
                }
            }
        }
    }
  body.page-with-filter.page-layout-2columns-left .sidebar-main {
    width: 21.833%;

  }

  body.page-with-filter.page-layout-2columns-left .column.main {
    width: 70.167%;

  }
    .page-with-filter div.products.wrapper.grid.products-grid ol.products.list.items.product-items .product-item .product-item-info .new-label,
    .page-with-filter div.products.wrapper.grid.products-grid ol.products.list.items.product-items .product-item .product-item-info .top-sales-label
    {
        font-size: 14px;
    }

}

.media-width(@extremum, @break) when (@extremum ='min') and (@break =@screen__m) {
    .columns .column.main .toolbar.toolbar-products {
        .toolbar-sorter.sorter {
            .sorter-label_list.filter-box-inner {
                .filter-options-title {
                    display: none;
                }
                .filter-options-content {
                    ol {
                        .filter-options-content-sort {
                            display: block;
                            span{
                                font-weight: 600;
                                margin-right: 10px;
                            }
                        }
                        .title.active {
                            color:#be8f4d;
                            border: 2px solid #be8f4d;
                            padding: 5px 0;
                            width: min-content;
                            transition: color ease .3s;
                            white-space: nowrap;
                        }
                    }

                }
            }
        }

    }
  body.catalogsearch-result-index {
    div.products.wrapper.grid.products-grid ol.products.list.items.product-items {
      display: flex;
      justify-content: space-between;
      .product-item {
        width: calc((100% - 6%) / 4);
      }
    }
  }
  body.page-with-filter .products.wrapper.grid.products-grid ol.products.list.items.product-items .product-item,
  .wishlist-index-index .products-grid .product-item{
    //width: calc(~"50% - 10px");
    width: calc((100% - 4%) / 3);
    padding: 5px;
  }

  body.page-with-filter.page-layout-2columns-left .sidebar-main {
    width: 29.833%;

  }

  body.page-with-filter.page-layout-2columns-left .column.main {
    width: 70.167%;

  }

  body.page-with-filter .filter-options-content-sort {
    display: none;
  }

  body.page-with-filter .columns .column.main .toolbar.toolbar-products .toolbar-sorter.sorter .filter-options-content-sort-cls {
    display: none;
  }

  body.page-with-filter .sidebar.sidebar-main .block.filter.active .filter-title span {
    display: none;

  }
    .page-with-filter .products.wrapper.grid.products-grid ol.products.list.items.product-items .product-item .product-item-info .new-label,
    .page-with-filter .products.wrapper.grid.products-grid ol.products.list.items.product-items .product-item .product-item-info .top-sales-label
    {
        font-size: 12px;
        width: 65%;
    }

}

.media-width(@extremum, @break) when (@extremum ='max') and (@break =@screen__m) {
  body.page-with-filter .abs-visually-hidden-desktop-s,
  body.page-with-filter div.products-grid .product-item-info:not(:hover):not(.active) .product-item-inner, body.page-with-filter div.products-grid .product-item-info .product-item-inner {
    .product-item-actions{
      margin: 0;
    }
  }
  body.page-with-filter .columns .column.main .toolbar.toolbar-products .toolbar-sorter.sorter .sorter-label_list.filter-box-inner .filter-options-title{
    width: auto;
    margin: 0 auto;
      text-align: center;
    }
  body.page-with-filter .sidebar.sidebar-main .block-content.filter-content .filter-options .filter-options-item .filter-options-title{
    padding-left: 5%;
  }
  body.page-with-filter .products.wrapper.grid.products-grid ol.products.list.items.product-items .product-item {
    margin-left: 1%;
    padding: 5px;
  }

  body.page-with-filter #state-top .block-actions.filter-actions {
    margin-bottom: -24px;
  }

  body.page-with-filter .toolbar.toolbar-products {
    margin-bottom: 0px;
  }

  body.page-with-filter .sidebar.sidebar-main .block-content.filter-content .filter-options {
    .filter-options-title {
      padding-left: 5%;

      &::after {
        margin-right: 1%;


      }
    }

    .filter-options-content {
      padding-left: 5%;
      padding-right: 5%;

    }

  }

  body.page-with-filter .columns .column.main .toolbar.toolbar-products .toolbar-sorter.sorter .sorter-label_list.filter-box-inner .filter-options-content {
    display: none;
  }

  body.page-with-filter .columns .column.main .toolbar.toolbar-products .toolbar-sorter.sorter .sorter-label_list.filter-box-inner {
    border: none;
    width: 50%;
    float: right;
    padding: 17px 10px;
    border: 1px solid #ccc;
    cursor: pointer;
  }


  body.page-with-filter .products.wrapper.grid.products-grid ol.products.list.items.product-items .product-item .product-item-info .top-sales-label,
  body.page-with-filter .products.wrapper.grid.products-grid ol.products.list.items.product-items .product-item .product-item-info .new-label
  {
    font-size: 12px;
      width: 55%;
  }

}

.media-width(@extremum, @break) when (@extremum ='max') and (@break =@screen__s) {
  body.catalogsearch-result-index {
    .products-grid .product-item-info:not(:hover):not(.active) .product-item-inner, div.products-grid .product-item-info .product-item-inner {
      height: 22px;
    }
  }
  body.page-products .product-item-info {
    width: 100%;
    text-align: center;
  }
  body.page-with-filter .abs-visually-hidden-desktop-s, .page-with-filter .products-grid .product-item-info:not(:hover):not(.active) .product-item-inner{
    margin: auto;
  }
  body.page-with-filter .products.wrapper.grid.products-grid ol.products.list.items.product-items{
    justify-content: center;
  }
  body.page-with-filter .product-item-actions .actions-secondary>.action {
    line-height: 14px;
  }

}
.media-width(@extremum, @break) when (@extremum ='max') and (@break =@screen__xs) {
  body.page-with-filter .products.wrapper.grid.products-grid ol.products.list.items.product-items .product-item,
  .account.wishlist-index-index .products-grid .product-item{
    width: 100%;
    .product-item-info {
      .product-image-container {
        display: unset;
        max-width: unset;

        .product-image-wrapper {
          display: unset;
          height: unset;
          overflow: hidden;
          position: unset;
          z-index: 1;
          padding-bottom: 0 !important;

          .product-image-photo {
            height: unset;
            position: unset;
              width: 100%;
            //width: 440px;
          }
        }

      }

      .product.details.product-item-details {
        position: relative;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
    .page-products {
        &.catalog-category-view {
            .page-wrapper {
                .products-grid {
                    .product-item {
                        margin-left: 2%;

                        &:first-child {
                            margin-left: 0 !important;
                        }

                        &:nth-child(3n+1) {
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }
}
