
.catalog-product-view {
    .page-wrapper .breadcrumbs{
        display: none;
    }
    .admin__data-grid-outer-wrap{
        margin-top: 60px;

    }
    .block.widget.block-viewed-products-grid{
        .block-title{
            margin-bottom: 10px;

        }
        .block-content{
            border-top: 1px solid #d1d3d4;
            .slick-list.draggable .product-item-info {
                .product-image-photo{
                    width:100%;
                }
                .product-item-details {
                    .product-item-actions .actions-primary {
                        display: none;

                    }
                }
            }

        }

    }

    .block.related{
        margin-top: 20px;

    }
    .video-frame{
        iframe{
            width: 100%;
        }

    }
    .slick-prev,.slick-next{
        z-index: 11;
        &:hover{
            border:none;
            -webkit-box-shadow:none;
                    box-shadow:none;

        }
        &:focus{
            border:none;
            -webkit-box-shadow:none;
                    box-shadow:none;
        }
    }
    .slick-prev::before {
        position: absolute;
        content: "";
        display: block;
        background: url('@{baseDir}images/left1.svg') no-repeat;
        float: left;
        margin: 0 6px 0 0;
        width: 46px;
        height: 51px;
        top: 44%;
        left: 3px;


    }

    .slick-next::before {
        position: absolute;
        content: "";
        display: block;
        background: url('@{baseDir}images/1right.svg') no-repeat;
        float: left;
        margin: 0 6px 0 0;
        width: 30px;
        height: 51px;
        top: 44%;
        right: 3px;
        margin: auto;


    }
    //slider
    .products-grid .product-item-info:hover,
    .products-grid .product-item-info.active {
        -webkit-box-shadow: none;
                box-shadow: none;
        border: none;
        margin: 0;
        padding: 0;

    }

    .product-items {
        max-width: 1169px;
        margin: auto;
    }
    .product-item {
        position: relative;
    }

    .product-item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;


        .product-item-info:hover {

            .product-item-details {
                -webkit-box-shadow: none;
                        box-shadow: none;
                border: none;

               .product-item-name {
                    a {
                        color: #a37432;

                    }

                }

            }


        }


        .product-item-info.related-available,
         .block.widget.block-viewed-products-grid .products-grid .product-item-info{
            display: -webkit-box;display: -ms-flexbox;display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-transition: .5s all;
            transition: .5s all;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            width: 80% !important;


            .product-image-container {
                width: 175px !important;
            }

            .product-image-wrapper {
                .product-image-photo {
                    width: 100%;
                }
            }

            .discount-label {
                color: #a37432;

                font-family: "Arial";

                font-size: 17px;

                font-weight: 700;

                line-height: 18px;
                border: 2px solid #a37432;
                border-radius: 40px;
                width: 60px;
                height: 26px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                margin-bottom: 10px;

            }

        }
        .product-item-info{
            .product-item-details {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
                -ms-flex-pack: distribute;
                    justify-content: space-around;

              .product-item-actions {
                    margin: 0px 0 10px;

                    .action.towishlist {
                        &:before {
                            color: #a37432;
                            width: 26px;
                            font-size: 22px;
                            line-height: 20px;

                        }

                    }

                }

                .field.choice.related {
                    display: none;
                }

                .product-reviews-summary.short.empty {
                    .reviews-actions {
                        .action.add {
                            position: relative;
                            font-size: 0;
                            width: 24px;
                            display: block;
                            height: 21px;
                            -webkit-box-flex: 1;
                                -ms-flex-positive: 1;
                                    flex-grow: 1;
                            margin-top: 2px;

                            &::before {
                                position: absolute;
                                content: "";
                                font-size: 20px;
                                background: url('@{baseDir}images/heart.png') no-repeat;
                                background-size: cover;
                                width: 24px;

                                height: 21px;


                            }

                        }

                    }

                }

                .price-label {
                    display: none;

                }

                .price-wrapper {
                    .price {
                        color: #da1f3c;

                        font-family: "Arial";

                        font-size: 18px;

                        font-weight: 400;

                        line-height: 17.89px;

                    }

                }

                .product-item-name {
                    color: #000000;

                    font-family: "Arial";
                    font-size: 16px;
                    -webkit-transition: .6s all;
                    transition: .6s all;

                    font-weight: 400;
                    text-align: center;
                    width: 100%;
                    margin-right: 1px;
                    padding-bottom: 15px;
                    margin-left: 0px;

                }

                .price-box {
                    -webkit-box-flex: 1;
                        -ms-flex-positive: 1;
                            flex-grow: 1;
                    text-align: right;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: end;
                        -ms-flex-pack: end;
                            justify-content: flex-end;
                    flex-grow: 1;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                        -ms-flex-direction: column;
                            flex-direction: column;
                    -webkit-box-ordinal-group: 2;
                        -ms-flex-order: 1;
                            order: 1;

                    .old-price {
                        span {
                            color: #505050;

                            font-family: "Arial";

                            font-size: 15px;

                            font-weight: 400;

                            line-height: 17.55px;

                        }


                    }
                }

            }

        }


    }


    .admin__data-grid-outer-wrap {
        .block-title {

            text-align: center;

            strong {
                color: #a37432;
                font-family: "Arial";
                font-size: 20px;
                font-weight: 400;
                text-transform: uppercase;
            }
        }

    }

    .admin__data-grid-outer-wrap, .block.related {
        .block-title {
            text-align: center;

            strong {
                color: #a37432;
                font-family: "Arial";
                font-size: 20px;
                font-weight: 400;
                text-transform: uppercase;
            }
        }
        .block-content {
            border-top:1px solid #d1d3d4;
            .block-actions {
                display: none;
            }

        }

    }

    //slider end
    .fotorama__active .fotorama__dot {
        background-color: #4c3e3d;
        border-color: #4c3e3d;
    }
    .fotorama__dot{
        border: 1px solid #4c3e3d;
        top: 5px;
        width: 10px;
        height: 10px;
    }
    .fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon:not(:focus) {
        -webkit-transform: none;
                transform: none;
    }

    .fotorama--fullscreen .fotorama__stage__frame .fotorama__img--full {
        max-height: 79%;
    }

    #ghg {
        position: fixed;
        left: 49%;
        color: #ffffff;
        font-family: "Arial";
        font-size: 30px;
        font-weight: 400;
        text-transform: uppercase;

        .info2 {
            color: hsl(35, 100%, 68%);
            right: -24px;
            position: relative;
            top: 34px;

            &::after {
                content: "";
                position: absolute;
                height: 1px;
                width: 37px;
                background-color: #ffffff;
                top: 5px;
                -webkit-transform: rotate(-50deg);
                        transform: rotate(-50deg);
                left: -36px;
            }

        }

    }

    .column.main {
        margin-top: 31px;

    }

    .fotorama__thumb-border {
        border: 1px solid #a37432 !important;
    }

    .product.attribute.sku {
        position: unset;
        div {
            display: none;
        }

        strong {

            background: url('@{baseDir}images/triumf_rings.png') no-repeat center;
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            width: 100%;
            height: 200px;
            font-size: 0;

            &::before {

                position: absolute;
                content: "";
                display: block;
                width: 100%;
                top: 242px;
                height: 35px;
                background-image: url('@{baseDir}images/line-logo.png');
                background-repeat: no-repeat;
                background-position: center;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }


    }


    .product.info {
        .table.additional-attributes {
            tbody {
                tr {
                    th, td{
                        padding: 15px 30px 15px 0;
                        padding-left: 3%;
                    }
                    th {
                        color: #000000;
                        font-family: "Arial";
                        font-size: 14px;
                        font-weight: 600;
                        border-right: 2px solid #fff;
                    }

                    td {
                        color: #454545;
                        font-family: "Arial";
                        font-size: 16px;
                        font-weight: 400;

                    }

                }

                tr:nth-child(odd) {
                    th {
                        background-color: #ebebeb;

                    }

                    td {
                        background-color: #ebebeb;

                    }

                }

            }
        }

        .item.title.active {
            .switch {
                background: #4c3e3d;

                color: #fff;
            }

        }

        .item.title {
            .switch {
                background: #fff;
                border: none;
                color: #515050;
                font-family: "Arial";
                font-size: 15px;
                font-weight: 400;
                text-transform: uppercase;
                height: 52px;
                padding: 6px 35px 2px 35px;

                &:hover {
                    background: #4c3e3d !important;

                    color: #fff !important;

                }

                &:focus {
                    background: #4c3e3d !important;

                    color: #fff !important;

                }
            }

        }

        .item.content {
            border: none;
            border-top: 1px solid #d1d3d4;
            padding-left: 0;
            padding-right: 0;
            padding-top: 21px;

            .table.additional-attributes {
                width: 100%;

            }

        }

    }

    .product.media {
        position: relative;

        .fotorama__stage {
            position: relative;

            &::after {
                position: absolute;
                content: "";
                display: block;
                width: 50px;
                height: 50px;
                top: 50%;
                left: 50%;
                margin-right: -50%;
                -webkit-transform: translate(-50%, -50%);
                        transform: translate(-50%, -50%);
                background-image: url('@{baseDir}images/plus.png');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                z-index: 1;
                -webkit-transition: .5s all;
                transition: .5s all;
                opacity: 0;
                cursor: pointer;

            }

            &:hover {

                &::after {
                    opacity: 1;
                }


            }

        }

        .discount-label {
            color: #a37432;
            margin-left: auto;

            font-family: "Arial";

            font-size: 17px;

            font-weight: 700;
            border: 2px solid #a37432;
            border-radius: 40px;
            width: 60px;
            height: 26px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -ms-flex-item-align: center;
            align-self: center;
            margin-bottom: 0px;
            position: absolute;
            z-index: 1;
            right: 0;

        }

        .top-sales-label {
            display: none;

        }

    }

    .product-info-main {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;

        .product.attribute.sample {
            grid-area: g;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            //padding-bottom: 10px;
            //margin-top: -8px;
            padding-bottom: 15px;
            margin-top: 0;
            border-bottom: 1px solid #d1d3d4;

            strong {
                color: #000000;
                font-size: 14px;
                font-family: "Arial";
                font-weight: 600;
                margin-bottom: 0px;
                text-decoration: none;

            }

            .value {
                font-family: "Arial";
                font-size: 16px;
                font-weight: 400;
                color: #515050;

            }

        }

        .product.attribute.type_metal {
            grid-area: c;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            border-bottom: 1px solid #d1d3d4;
            border-top: 1px solid #d1d3d4;
            padding-top: 17px;
            padding-bottom: 17px;

            strong {
                color: #000000;
                font-size: 14px;
                font-family: "Arial";
                font-weight: 600;
                margin-bottom: 0px;
                text-decoration: none;

            }

            .value {
                font-family: "Arial";
                font-size: 16px;
                font-weight: 400;
                color: #515050;

            }


        }

        .product-info-price {
            border-bottom: none;
            display: grid;
            grid-template-columns: 39% 1fr;
            grid-gap: 20px;
            grid-template-areas:
                "v v v v v v v v"
                "a a a a b b b b"
                "c c c c b b b b"
                "g g g g b b b b"
                "n n n n n n n n";
            -webkit-box-align: end;
                -ms-flex-align: end;
                    align-items: end;
            grid-column-gap: 20px;
            grid-row-gap: 0px;

            .product-info-stock-sku {
                padding-left: 0;
                text-align: left;
                grid-area: v;
            }

            .price-box {
                grid-area: a;
                padding-bottom: 0;
                width: auto;
                margin-bottom: -16px;

                span {
                    color: #da1f3c;
                    font-family: "Arial";
                    font-size: 20px;
                    font-weight: 400;

                }
                .special-price{
                    .price-container.price-final_price{
                        display: flex;
                        justify-content: space-between;
                        align-items: baseline;
                        border-top: 1px solid #d1d3d4;
                        margin: 6px 0;
                        .price-label{
                            display: contents;
                            color: #000000;
                            font-size: 14px;
                            font-family: "Arial";
                            font-weight: 600;
                            margin-bottom: 0px;
                            text-decoration: none;
                            &:after{
                                display: none;
                            }
                        }

                    }
                    .price-wrapper{
                        margin: 6px 0;
                    }

                }

                .normal-price {


                    span {
                        color: #da1f3c;
                        font-family: "Arial";
                        font-size: 20px;
                        font-weight: 400;
                        margin-top: 10px;
                    }

                    span.price-label {
                        color: #000000;
                        font-size: 14px;
                        font-family: "Arial";
                        font-weight: 600;
                        display: block !important;
                    }

                    .price-container.price-final_price {
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-pack: justify;
                        -ms-flex-pack: justify;
                        justify-content: space-between;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;

                        border-top: 1px solid #d1d3d4;


                    }

                }

                .old-price {

                    span.price-label {
                        color: #000000;
                        font-size: 14px;
                        font-family: "Arial";
                        font-weight: 600;
                        margin-bottom: 0px;
                        text-decoration: none;

                    }

                    .price-container.price-final_price {
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-pack: justify;
                        -ms-flex-pack: justify;
                        justify-content: space-between;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                        border-top: 1px solid #d1d3d4;

                    }

                    span.price {
                        font-family: "Arial";
                        font-size: 16px;
                        font-weight: 400;
                        color: #515050;
                        margin: 6px 0;
                        text-decoration: line-through;
                    }


                }

            }
        }

        .box-tocart {
            -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
            order: 1;
            width: 100%;

        }

        .product-reviews-summary.empty {
            display: none;

        }

        .fieldset {
            .field.qty {
                display: none;

            }

        }

        .actions {
            .action.primary.tocart {
                width: 100%;
                max-width: 240px;
                height: 60px;
                border: 2px solid #a37432;
                background-color: #a37432;
                box-shadow: none;

                span {
                    color: #ffffff;
                    font-family: "Arial";
                    font-size: 14px;
                    font-weight: 400;
                    text-transform: uppercase;
                }
            }

        }

        .product-add-form {
            grid-area: b;
            padding-top: 0px;
            margin-top: 7px;
            max-height: 161px;

        }

        .product-social-links {
            width: auto;

            .product-addto-links {
                span {
                    display: none;
                }

                .action.towishlist {
                    &::before {
                        color: #a37432;
                        width: 24px;
                        font-size: 22px;
                        line-height: 20px;
                        margin: 0;
                    }

                }
            }

        }

        .page-title-wrapper.product {
            -webkit-box-flex: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;

            .page-title {
                color: #a37432;
                font-family: "Arial";
                font-size: 22px;
                font-weight: 400;
                text-transform: uppercase;

            }

        }

        .product-info-stock-sku {
            .stock.available {
                color: #5fca64;
                font-family: "Arial";
                font-size: 12px;
                font-weight: 400;
                line-height: 14px;
                text-transform: uppercase;

            }

        }

        .product-options-wrapper {
            .swatch-opt{
                margin: -15px 0 20px 0;
            }
            .swatch-attribute.size {
                span {
                    color: #000000;
                    font-size: 14px;
                    font-family: "Arial";
                    font-weight: 600;
                    margin-bottom: 0px;
                    text-decoration: none;

                }

            }

            .swatch-attribute-options {
                width: 100%;
                text-align: center;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;

                &:focus {
                    -webkit-box-shadow: none;
                            box-shadow: none;

                }

                .swatch-option.text.selected {
                    border: 1px solid #a37432;
                    background-color: #a37432 !important;
                    color: #fff;
                    border-radius: 40px;
                    outline: none;

                }

                .swatch-option.text {
                    background: #fff;
                    line-height: 1px;
                    margin-right: 7px;
                    min-width: 23px;
                    border-radius: 40px;
                    color: #454545;
                    font-family: "Arial";
                    font-size: 16px;
                    font-weight: 600;
                    border: 1px solid #d1d3d4;
                    padding: 26px 10px;
                    width: 54px;
                    height: 54px;

                    &:hover {
                        border: 1px solid #a37432;
                        background-color: #a37432;
                        color: #fff;
                        border-radius: 40px;
                        outline: none;

                    }

                    &:focus {
                        -webkit-box-shadow: none;
                        box-shadow: none;
                    }
                }
            }
        }


    }

    }


   .catalog-product-view .product.info.detailed .product.data.items .data.item.content {
        padding: inherit;
        border-top: 1px solid #d1d3d4;
        margin-top: 52px!important;
        &:before{
            margin-bottom: 20px;
            width: 100%;
            border-top: 1px solid #d1d3d4;
        }
    }


    body.catalog-product-view .review-field-rating .control {
        margin-top: 0px;

    }
    .media-width(@extremum, @break) when (@extremum ='max') and (@break =@screen__m) {
        body.catalog-product-view .product.info.detailed {
            margin-top: 30px;
            .product.data.items .data.item.content {
                margin-top: 0 !important;
            }
        }
        body.catalog-product-view .product.attribute.sku{
            strong{
                height: 182px;
                &:before {
                    top: 136px;
                    height: 23px;
                    background-size: cover;
                }
            }
        }
        body.catalog-product-view .product.media{
            .fotorama__stage {
                &::after {
                    display: none;
                }
            }
        }
        body.catalog-product-view .product-info-main .product-add-form {
            max-height: 199px;
        }

        body.catalog-product-view .product-info-main .product-info-price {
            grid-gap: 20px;
            grid-column-gap: 20px;

        }
        body.catalog-product-view .product-item {
            display: -webkit-box!important;
            display: -ms-flexbox!important;
            display: flex!important;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
        }

        .catalog-product-view {
            .product-info-main {
                .product-options-wrapper {
                    .swatch-attribute {
                        .swatch-attribute-options {
                            .swatch-option {
                                &.text {
                                    line-height: 4px;
                                    font-size: 13px;
                                    font-weight: bold;
                                    width: 56px;
                                    height: 56px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .media-width(@extremum, @break) when (@extremum ='min') and (@break =@screen__m) {
        .catalog-product-view .product.data.items {
            top: 80px;
        }
        body.catalog-product-view .product-info-main .product-add-form {
            grid-area: n;

        }

        body.catalog-product-view .product-info-main .product-options-bottom {
            margin-top: 20px;
        }

        body.catalog-product-view .product-info-main .product-info-price {
            grid-gap: 15px;
            grid-column-gap: 15px;
            grid-row-gap: 15px;

        }

        .catalog-product-view {
            .product-info-main {
                .product-options-wrapper {
                    .swatch-attribute {
                        .swatch-attribute-options {
                            .swatch-option {
                                &.text {
                                    line-height: 4px;
                                    font-size: 14px;
                                    font-weight: bold;
                                    width: 56px;
                                    height: 56px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .media-width(@extremum, @break) when (@extremum ='min') and (@break =@screen__l) {
        .catalog-product-view .product.info .product.data.items {
            top: 0;
        }
        body.catalog-product-view.page-product-configurable .product-info-main .product-add-form {
            grid-area: b !important;

        }

        body.catalog-product-view .product-info-main .product-add-form {
            grid-area: n;
        }

        body.catalog-product-view .product-info-main .product-info-price {
            grid-gap: 20px;
            grid-column-gap: 20px;

        }

        .catalog-product-view {
            .product-info-main {
                .product-options-wrapper {
                    .swatch-attribute {
                        .swatch-attribute-options {
                            .swatch-option {
                                &.text {
                                    line-height: 1px;
                                    font-size: 16px;
                                    font-weight: 600;
                                    width: 54px;
                                    height: 54px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }


    .media-width(@extremum, @break) when (@extremum ='max') and (@break =@screen__s) {
        body.catalog-product-view .block.review-add .review-form .review-form-actions .primary.actions-primary button{
            width: 100%;
        }
        .table-wrapper .table:not(.totals):not(.cart):not(.table-comparison).additional-attributes tbody td:last-child{
            padding: 15px 30px 15px 0;
            padding-left: 3%;
        }
        body.catalog-product-view .product.attribute.sku{
            strong{
                height: 120px;
                &:before {
                    top: 117px;
                    height: 25px;
                    background-size: cover;
                }
            }
        }
        body.catalog-product-view .slick-prev,.slick-next{
           display: none;

        }
        body.catalog-product-view .product-info-main .product-info-price {
            grid-row-gap: 20px;
        }

        body.catalog-product-view .product-info-main .product-add-form {
            max-height: 230px;
        }
        html body.catalog-product-view .product.data.items .data.item.content {
            margin-top: 0px;

        }

        body.catalog-product-view .product-info-main .product-add-form {
            grid-area: n;
        }

        body.catalog-product-view .product-info-main .product-social-links {
            width: 100%;
            -webkit-box-ordinal-group: 0;
                -ms-flex-order: -1;
                    order: -1;

            a {
                margin: auto;
            }

        }

        body.catalog-product-view .product-info-main .product-info-price .price-box {
            padding-right: 0;
        }

        body.catalog-product-view .product-info-main .product-info-price {
            margin: auto;
        }

        body.catalog-product-view .product.info .item.content {
            padding-top: 0;
        }

        body.catalog-product-view .product-info-main .product-info-price {
            grid-template-areas:
                "v v v v v v v v"
                "a a a a a a a a"
                "a a a a a a a a"
                "c c c c c c c c"
                "g g g g g g g g"
                "n n n n n n n n";

        }

        body.catalog-product-view .product-info-main .box-tocart {
            margin-bottom: 0;
            .fieldset:last-child {
                margin-bottom: 0;
            }
            .actions .action.primary.tocart{
                max-width: unset;
            }

        }

        body.catalog-product-view .product.data.items {
            margin-left: 0px;
            margin-right: 0px;

            a {
                &::after {
                    display: none !important;

                }

            }


        }


        body.product-review-product .product.info.detailed .product.data.items .data.item.content,
        .page-product-configurable .product.info.detailed .product.data.items .data.item.content,
        .catalog-product-view .product.info.detailed .product.data.items .data.item.content {
            padding-right: 0;
            padding-left: 0;
        }

        body.catalog-product-view .product-info-main .product-add-form {
            padding-left: 0px;
        }

    }
    @media screen and (max-width: 1240px) {
        body.catalog-product-view .slick-prev{
            left: 0.4%;

        }
       body.catalog-product-view .slick-next{
            right: 0.4%;

        }

      }

        body.catalog-product-view .block.widget .products-grid .product-item{
            margin-left: 30px!important;
            margin-right: 30px!important;

        }

