.page-with-filter.page-products {
    .products-grid .product-item-info:hover, .products-grid .product-item-info.active{
        -webkit-box-shadow: none;
                box-shadow: none;
        border:none
    }
    .product-item {
        position: relative;
    }
    .product-item {
        .product-item-info:hover {

            .product.details.product-item-details{
                .product.name.product-item-name {
                    a {
                        color: #a37432;

                    }

                }

            }




        }


        .product-item-info {
            .product-image-wrapper {
                .product-image-photo {
                    width: 100%;
                }
            }

            .discount-label {
                color: #a37432;

                font-family: "Arial";

                font-size: 17px;

                font-weight: 700;

                line-height: 18px;
                border: 2px solid #a37432;
                border-radius: 40px;
                width: 60px;
                height: 26px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                        -ms-flex-pack: center;
                    justify-content: center;
                -webkit-box-align: center;
                        -ms-flex-align: center;
                    align-items: center;
                margin-bottom: 10px;


            }

        }

        .product.details.product-item-details {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                justify-content: space-between;

            .product-reviews-summary.short.empty {
                .reviews-actions {
                    .action.add {
                        position: relative;
                        font-size: 0;
                        width: 24px;
                        display: block;
                        height: 21px;
                        -webkit-box-flex: 1;
                                -ms-flex-positive: 1;
                            flex-grow: 1;
                        margin-top: 2px;

                        &::before {
                            position: absolute;
                            content: "";
                            font-size: 20px;
                            background: url('@{baseDir}images/heart.png') no-repeat;
                            background-size: cover;
                            width: 24px;

                            height: 21px;


                        }

                    }

                }

            }

            .price-label {
                display: none;

            }

            .price-wrapper {
                .price {
                    color: #da1f3c;

                    font-family: "Arial";

                    font-size: 18px;

                    font-weight: 400;

                    line-height: 17.89px;

                }

            }

            .product.name.product-item-name {
                color: #000000;

                font-family: "Arial";
                font-size: 16px;
                -webkit-transition: .6s all;
                transition: .6s all;

                font-weight: 400;
                text-align: center;
                width: 100%;
                margin-right: 1px;
                padding-bottom: 15px;

            }

            .price-box {
                -webkit-box-flex: 1;
                        -ms-flex-positive: 1;
                    flex-grow: 1;
                text-align: right;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: end;
                        -ms-flex-pack: end;
                    justify-content: flex-end;
                flex-grow: 1;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                        -ms-flex-direction: column;
                    flex-direction: column;

                .old-price {
                    span {
                        color: #505050;

                        font-family: "Arial";
                        text-decoration: line-through;

                        font-size: 15px;

                        font-weight: 400;

                        line-height: 17.55px;

                    }


                }
            }

        }

    }
    
}