.minicart-wrapper {
    .block-minicart {
        border: 1px solid #a37432;
        box-shadow: 0px 2px 2px rgba(24,24,24,0.35);
        .block-content {
            button.action.close{
                right: 4px;
                &:before{
                    font-size: 21px;
                    line-height: 21px;
                    color: #a1762e;
                }
                &:hover{
                    &:before {
                        color: #4c3e3d;
                    }
                }
            }
            .items-total{
                display: none;
            }
            .subtotal{
                margin: 20px 10px 10px;
                display: flex;
                justify-content: space-between;
                span.label {
                    font-size: 16px;
                    font-weight: 600;
                }
                .amount .price-wrapper:first-child .price{
                    color:#da1f3c;
                }
            }
            .minicart-items-wrapper{
                border-top: none;
                    .product-item {
                        position: relative;
                        justify-content: end;
                            .product-item-details {
                                .product-item-pricing {
                                    .price-container {
                                        margin-left: 10px;
                                    }

                                    .label {
                                        display: none;
                                    }

                                    .details-qty.qty {
                                        input[type="number"] {
                                            border: 1px solid #a37331;
                                            background-color: #fff;
                                            border-radius: 3px;
                                            height: 26px;
                                        }

                                        input:not([disabled]):focus {
                                            box-shadow: 0 0 3px 1px #d2a361;
                                        }

                                        button.update-cart-item {
                                            border: none;
                                            background: #fff;
                                            box-shadow: none;
                                            float: none;

                                            span {
                                                font-size: 22px;
                                                line-height: 13px;
                                            }
                                        }
                                    }
                                }

                                .product.actions {
                                    position: absolute;
                                    margin: 0;
                                    right: -1px;
                                    top: 6px;

                                    .action.edit {
                                        display: none;
                                    }
                                }

                                .product-item-name {
                                    margin: 0 0 5px 10px;
                                    a {
                                        color: #a37432;
                                        font-size: 16px;
                                        text-transform: uppercase;
                                        text-decoration: none;
                                        font-weight: 600;
                                        &:hover {
                                            color: #4c3e3d;
                                        }
                                    }
                                }
                            }
                }
            }
            button.action.primary.checkout {
                border: 2px solid #a37432;
                background-color: #a37432;
                text-transform: uppercase;
                font-size: 14px;
                &:hover{
                    background-color: #4c3e3d;
                    border: 2px solid #4c3e3d;
                }
            }
            .actions .secondary{
                a {
                    color: #4c3e3d;
                    font-size: 17px;
                    text-transform: uppercase;
                    text-decoration: none;
                    font-weight: 300;
                    &:hover{
                        color: #a1762e;
                    }
                }
            }

        }
    }
}

.modal-popup.confirm._show{
    .modal-inner-wrap {
        max-width: 72rem;
        height: 250px;
        .action-close{
            &:before{
                font-size: 21px;
                line-height: 21px;
                color: #4c3e3d;
            }
            &:hover{
                &:before {
                    color: #a1762e;
                }
            }
        }
        .modal-content {
            padding-right: 0;
            div {
                padding: 60px 0px 10px;
                text-align: center;
                font-size: 16px;
            }
        }
        footer.modal-footer {
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            padding: 0 0 40px 0;
            button{
                margin:10px;
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum ='min') and (@break =@screen__m) {
    div.minicart-wrapper {
        .block-minicart {
            width: 500px;
            .block-content {
                .minicart-items-wrapper {
                    .product-item {
                        .product-item-details {
                            padding-left: 175px;

                            .product-item-pricing {
                                .details-qty.qty {
                                    margin-top: 15px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    div.minicart-wrapper {
        .block-minicart .block-content{
            .minicart-items-wrapper{
                .product-item-photo {
                    .product-image-container {
                        width: 75px !important;
                        .product-image-photo{
                            width: 75px !important;
                            height: 75px !important;
                        }
                    }
                }
                .minicart-items {
                    div.product-item-details {
                        .product-item-name {
                            a {
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
            .actions .secondary {
                a {
                    font-size: 14px;
                }
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .minicart-wrapper {
        .block-minicart {
            right: -50px;
            &:before{
                right: 55px;
            }
            &:after{
                right: 54px;
            }
        }
    }
}