.checkout-cart-index, .checkout-index-index, .checkout-onepage-success {
  font-family: "Arial";

  .breadcrumbs {
    margin-top: -30px;
    top: 40px;
    padding-left: 20px;

    .items {
      .item.account, .item.cart, .item.checkout {
        display: inline-block;
        a {
          text-decoration: underline;
        }
      }
    }
  }
}
.checkout-cart-index{
  .cart-summary, .data.table tr.totals.sub{
    display: none;
  }
  .cart-totals tbody{
    border: none;
    .grand {
      .amount, .mark {
        border: none;
      }
      .amount{
        width: 300px;
      }
    }
  }
  .cart-container .form-cart{
    width: 100%;
    padding-right: 0;
    margin-top: 30px;
  }
  form {
    .cart.table-wrapper {
      .product-item-details {
        padding-bottom: 0;
        vertical-align: middle;
        .product-item-name {
          text-transform: uppercase;
          a{
            font-size: 18px;
            color: #000;
          }
        }
      }
      .col.subtotal{
        .price-excluding-tax .price{
          font-weight: 500;
          color: #454545;
        }
      }
      .cart {
        thead {
          background-color: #ebebeb;
          tr th.col {
            text-align: center;
            border-bottom: none;
            padding-top:15px;
          }
        }
        tbody td{
          vertical-align: middle;
          padding: 0;
          font-size: 16px;
          color: #454545;
          font-family: "Arial";
          border-right: 1px solid #d1d3d4;
          text-align: center;
          &:last-child{
            border-right: none;
          }
          .col-title{
            display: none;
          }
        }
        tbody tr{
          .actions-toolbar{
            min-height: 0;
            padding-bottom: 0;
            margin: 30px 0;
            border-bottom: 1px solid #d1d3d4;
            .action.towishlist{
              display: none;
            }
            .action{
              top: 26px;
                z-index:9;
            }
            .action-delete{
              &:before {
                content: "\e90d";
                color: #a27431;
                font-family: 'icomoon' !important;
                font-size: 23px;
              }
              &:hover {
                &:before {
                  color: #4c3e3d;
                }
              }
            }
          }
        }
      }
      .cart>.item{
        border: none;
        .item-info .col.item{
          padding: 0 8px 0 0;
        }
      }

    }
  }
  .cart-totals {
    tbody .grand.totals .mark{
      text-align: right;
    }
    .grand strong {
      font-size: 20px;
      .price {
        color: #da1f3c;
        font-weight: 600;
      }
    }
    .totals.shipping.excl{
      display: none;
    }
  }


  ul.checkout{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    margin-top: 20px;
    .btn-continue{
      border: 2px solid #a37432;
      background-color: #fff;
      border-radius: unset;
      height: 60px;
      width: 260px;
      text-transform: uppercase;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-bottom: 10px;
      a{
        color:#a37432;
        text-decoration: none;
        font-weight: 600;
      }
      &:hover {
        border: 2px solid #4c3e3d;
        a{
          color:#4c3e3d;
        }
      }
    }
    button{
      color: #fff;
      background-color: #a47432;
      border-radius: unset;
      height: 60px;
      width: 260px;
      text-transform: uppercase;
      border: none;
      //padding: 22px 30px;
      &:hover, &:active, &:focus {
        background-color: #4c3e3d;
      }
    }
  }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
  .checkout-index-index .page-wrapper .page-title-wrapper{
    height: 182px;
  }
  .checkout-cart-index {
    .cart-container .form.form-cart{
      padding:0 30px;
    }
    form {
      .cart.table-wrapper {
        thead .col, .cart .col.subtotal{
          display: table-cell;
          float: none;
        }
        .cart .col.subtotal{
         &:before{
           display: none;
         }
        }
        .item .col.item{
          padding-left: 15px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          .product-item-photo{
            max-width: unset;
            position: static;
            padding-right: 10px;
            padding-bottom: 10px;
          }
        }

      }
    }
    ul.checkout{
      padding: 0 15px;
    }
  }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
  .checkout-index-index .page-wrapper .page-title-wrapper{
    height: 120px;
  }
  .checkout-cart-index {
    .cart-container .form.form-cart{
      margin-top: 0;
    }
    .cart-totals {
      tbody .grand.totals th.mark {
        text-align: left;
      }
    }
    form {
      .cart.table-wrapper {
        overflow: hidden;
        .product-item-details {
          .product-item-name {
            text-align: left;
          }
        }
        .cart thead {
          display: none;
        }
          .cart tbody tr div.actions-toolbar .action{
              top: 6px;
          }
        .cart .col.subtotal, .cart .col.sku{
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between;
        }
        .cart>.item{
          tr.item-info{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            .col.item{
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
                  -ms-flex-direction: column;
                      flex-direction: column;
              display: block;
              padding: 0;
            }
            td.col{
              border:none;
              max-width: 500px;
              width: 100%;
              .col-title{
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                font-weight: 600;
              }
            }
          }
        }
      }
    }
    ul.checkout.methods{
      padding:0;
      button,  .btn-continue{
        padding: 14px 0;
        width: 160px;
        text-align: center;
      }
    }
  }
}
