.checkout-onepage-success{
  font-family: "Arial";
  #registration {
    display: none;
  }
  .checkout-success {
    .block-content {
      display: flex;
      flex-direction: column;
      padding-top: 15px;
      .box.box-order-billing-address{
        display: none;
      }
    }
    .block-content > .box{
      margin-bottom: 15px;
      display: flex;
    }
      .account .column.main .block.block-order-details-view .block-content:not(.widget) .box{
          width: 100%;
      }
    .account{
      .block.block-order-details-comments{
        display: none;
      }
      .block.block-order-details, .block.block-order-details-view{
        background-color: #ebebeb;
        padding: 0 70px;
      }
      .block.block-order-details-view {
        .block-content{
          .box-order-shipping-address{
            .box-content address{
              padding-left: 20px;
            }
          }
          .box.box-order-shipping-method, .box.box-order-billing-method{
            display: flex;
            .box-title span{
              padding-right: 10px;
            }
          }
        }
      }
    .block.block-order-details{
        margin-bottom: 0;
        .block-title {
          text-align: center;
          border-bottom: none;
          padding: 35px 0 20px 0;
          strong {
            font-size: 22px;
            color: #a37432;
            text-transform: uppercase;
          }
        }
        .success-info {
          display: flex;
          justify-content: space-between;
          border-bottom: 1px solid #a87c3e;
          .success-messages{
            margin-bottom: 0;
            font-weight: 600;
            a.order-number strong {
              font-weight: 400;
              color: #000;
            }
          }
          .order-date{
            padding-bottom: 15px;
            border:none;
          }
        }
      }
      .order-details-items{
        border: none;
      }
      .order-details-items.ordered{
        border-right: none;
        border-left: none;
        padding: 0;
        .table-wrapper{
          border-bottom: none;
          .data.table {
            font-family: "Arial";
            overflow: hidden;
            thead {
              display: none;
            }
            tr {
              .col.name {
                &:before{
                  display: none;
                }
                .product.name {
                  font-size: 18px;
                  text-transform: uppercase;
                  font-weight: 600;
                  color: #000;
                }
              }
              .col.image{
                text-align: left;
                &:before{
                  display: none;
                }
              }
              td.col {
                vertical-align: middle;
                text-align: center;
                font-size: 16px;
                border-right: 1px solid #d1d3d4;
              }
            }
          }
        }
        .order-title{
          display: block;
          text-align: center;
          background: #4c3e3d;
          padding: 12px 0;
          strong{
            font-size: 16px;
            color: #fff;
            text-transform: uppercase;
          }
        }
        .table tfoot{
          background: #ffffff;
          td {
            background: #ffffff;
          }
          tr.subtotal, tr.shipping{
            display: none;
          }
          tr.grand_total{
            text-align: left;
            border-top: 1px solid #d1d3d4;
            .mark{
                text-align: left;
                strong {
                    font-size: 20px;
                    float: left;
                    width: 40%;
                }
            }
            td.amount {
              float: right;
              span.price {
                color: #da1f3c;
                font-weight: 600;
                font-size: 20px;
              }
            }
          }
        }
      }
    }
    .actions-toolbar{
      display: none;
    }
    .thank-message {
      text-align: center;
      margin: 50px 0;
      p{
        font-size: 22px;
        line-height: 30px;
        color: #000;
        text-transform: uppercase;
        margin-bottom: 0;
      }
      p.yellow{
        color: #a37432;
      }
    }
  }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
  .checkout-onepage-success{
      .page-title-wrapper .header-wrap h1.page-title{
          font-size: 22px;
      }
    .checkout-success .account .column.main{
      .block.block-order-details, .block.block-order-details-view {
        padding: 0 10px;
      }
        .order-details-items.ordered .table-wrapper .data.table {
            tfoot tr.grand_total {
                .mark {
                    width: 40%;
                }
                td.amount {
                   float: right;
                   width: 60%;
                }
            }
            tr {
                td.col {
                    border-right: none;
                }

                .col.image {
                    text-align: center;
                }
            }
        }
        .block.block-order-details .success-info{
            display: block;
        }
        .block-content > .box{
            display: block;
        }

    }
  }
}
