.checkout-index-index {
  .nav-sections {
    display: block;
    .ui-widget{
      font-family: "Futura PT Book";
      border: none;
    }
  }
  .authentication-wrapper{
    display: none;
  }
  .page-title-wrapper {
    position: unset;
    width: 100%;
    height: 200px;
  }
  .am-checkout:not(.-modern){
    background: #fff;
    margin-top: 4px;
    padding: 0;
  }
  .checkout-header{
    margin-top: 0;
  }
  .opc-wrapper {
    .step-title {
      font-size: 22px;
      color: #a37432;
      text-transform: uppercase;
      font-family: "Arial";
      border: none;
    }
    .shipping-address-item.selected-item {
      border-color: #a47432;
      &:after {
        background: #a47432;
      }
    }
    textarea:not([disabled]):focus, .select:not([disabled]):focus{
      box-shadow: 0 0 3px 1px #d2a361;
    }
    .checkout-shipping-address{
      .amcheckout-content{
        button{
          background-color: #a47432;
          color: #fff;
          box-shadow: none;
        }
      }
    }
  }
  .amcheckout-wrapper{
    input[type="email"], input[type="password"], input[type="text"],input[type="tel"] {
      height: 60px;
      border: 1px solid #d1d3d4;
    }
    input:not([disabled]):focus {
      box-shadow: 0 0 3px 1px #d2a361;
    }
      .field.addresses .shipping-address-item.selected-item a{
          color: #a47432;
      }
  }
  .checkout-payment-method .payment-methods {
      .actions-toolbar {
          text-align: center;
          .primary {
              color: #fff;
              background-color: #a47432;
              border-radius: unset;
              height: 60px;
              width: 260px;
              text-transform: uppercase;
              border: none;
              float: none;

              &:hover {
                  background-color: #4c3e3d;
              }
          }
      }
  }
  .checkout-block{
    //padding-top: 0;
    box-shadow: 1px 1px 4px 1px rgba(203, 203, 203, 0.45);
    &:hover{
      //box-shadow: none;
      box-shadow: 1px 1px 4px 1px rgba(203, 203, 203, 0.45);
    }
    .opc-payment{
      margin-top: -20px;
    }
    .opc-wrapper .form-login{
      background: #ffffff;
    }
    .block.items-in-cart.active {
      margin: 0;
    }
    .opc-block-summary{
      background: #fff;
      .title, .content.minicart-items, .step-title.amcheckout-title, .data.table tr.totals.sub, .data.table tr.totals.shipping.excl{
        display: none;
      }
      .table-totals {
        border: none;
        .grand {
          .amount, .mark {
            border: none;
          }
        }
      }
    }
    .checkout-payment-method .payment-option._collapsible{
      display: none;
    }
  }
  .opc-estimated-wrapper{
    display: none;
  }
}
.checkout-index-index .modal-popup.confirm._show{
    header .modal-title {
        display: none;
    }
    .modal-content{
        padding:0;
    }
}
.checkout-index-index .modal-popup.modal-slide:not(.agreements-modal):not(.popup-authentication) .modal-inner-wrap{
  width: 100%;
  max-width: 766px;
  height: 760px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  .modal-content{
    margin: 60px 40px 30px;
  }
  form {
    input[type="text"],  input[type="tel"] {
      height: 60px;
      border: 1px solid #e5e5e5;
    }
    input:not([disabled]):focus {
      box-shadow: 0 0 3px 1px #d2a361;
    }
  }
  .modal-footer{
    margin-top: 0;
    padding: 0 40px;
    button.action-hide-popup{
      background-color: #fff;
      border: 2px solid #a47432;
      border-radius: unset;
      height: 60px;
      width: 260px;
      text-transform: uppercase;
      color: #a47432;
      box-shadow: none;
      font-weight: 600;
      margin: 0;
      &:hover {
        border: 2px solid #4c3e3d;
        color: #4c3e3d;
      }
    }
  }
}


.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
  .checkout-index-index{
    .nav-toggle {
      display: block;
    }
  }
  .checkout-index-index .modal-popup.modal-slide:not(.agreements-modal):not(.popup-authentication) .modal-inner-wrap{
    form.form{
      input[type="text"], input[type="tel"] {
        height: 45px;
      }
    }
    .modal-footer{
      width: 100%;
      button.secondary.action-hide-popup{
        margin-top: 15px;
        width: 100%;
      }
    }
  }
}
