.cms-collective {
    .collective {
        #information_collective {
            display: -webkit-box;
            display: flex;
            width: 100%;
            -webkit-box-pack: justify;
            justify-content: center;
            padding-top: 54px;
            padding-bottom: 40px;
            flex-wrap: wrap;

            .information_collective-container {
                width: 100%;
                max-width: 437px;
                display: -webkit-box;
                display: flex;

                -webkit-box-pack: center;

                justify-content: center;
                flex-wrap: wrap;

                #home_image {
                    padding-top: 10px;
                    width: auto;
                    display: -webkit-box;
                    display: flex;
                    vertical-align: top;
                    margin-bottom: 10px;

                    img {
                        width: 100%;
                        height: 350px;
                        max-height: 430px;
                        width: 420px;
                        max-width: none;
                        border: none;
                    }
                }

                .information_collective-text {
                    width: calc(~'100%');
                    min-height: 110px;

                }

            }

            .names_director {
                color: #000000;
                font-size: 22px;
                font-family: "Arial";
                font-weight: 500;
                text-transform: uppercase;
                line-height: 2;
                font-size: 1.8rem;
                margin-top: 0rem;
                margin-bottom: 2rem;

            }

            .name_employee {
                color: #a37432;
                font-family: "Arial";
                font-size: 18px;
                font-weight: 500;
                text-transform: uppercase;
                position: relative;
                width: 99%;

                &::before {
                    position: absolute;
                    content: "";
                    display: block;
                    width: 100%;
                    top: -8px;
                    border-top: 2px solid #a37432;


                }


            }

            #collective_image {
                display: -webkit-box;
                display: flex;
                flex-wrap: wrap-reverse;
                width: 310px;
                -webkit-box-align: start;
                align-items: flex-start;


                img {
                    width: 100%;
                    height: 130px;
                }

                .image_director {
                    width: 100%;
                    max-width: 135px;
                    display: -webkit-box;
                    display: flex;
                    height: 130px;

                }

                .image_data {
                    margin: 10px;
                    opacity: .5;
                }

                .image_data.active {
                    opacity: 1;

                    .image_director {
                        border: 2px solid #a37432;


                    }

                }
            }
        }
    }
}


.media-width(@extremum, @break) when (@extremum ='min') and (@break =@screen__xl) {
    body.cms-collective .collective #information_collective .information_collective-container .information_collective-text {

        width: calc(~'50% - 60px');
    }

    body.cms-collective .collective #information_collective .information_collective-container {
        -webkit-box-pack: center;
        justify-content: center;
        width: calc(~'74% - 10px');
        -webkit-box-pack: justify;
        justify-content: space-between;
        max-width: none;

    }

    body.cms-collective .collective #information_collective {
        -webkit-box-pack: justify;
        justify-content: space-between;

    }

    body.cms-collective .collective #information_collective .information_collective-container #home_image img {
        height: 100%;

    }

}
.media-width(@extremum, @break) when (@extremum ='max') and (@break =@screen__m) {
    body.cms-collective .collective #information_collective #collective_image{
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
    }

}
.media-width(@extremum, @break) when (@extremum ='max') and (@break =@screen__s) {
    body.cms-collective .collective #information_collective{
        padding-top: 14px;
        padding-bottom: 0px;
    }
    body.cms-collective .collective #information_collective #collective_image .image_data{
        margin: 5px;
    }
    body.cms-collective .collective #information_collective .name_employee{
        font-size: 15px;
    }
    body.cms-collective .collective #information_collective .names_director{
        margin-bottom: 1rem;
    }
    body.cms-collective .collective #information_collective .information_collective-container #home_image img{
        height: 260px;
    }

}
