.cms-home {
    .view-home-category-custom {
        text-align: center;
        border: 2px solid #a37432;
        background: transparent;
        -webkit-transition: .4s all;
        transition: .4s all;
        width: 170px;
        height: 60px;
        border-radius: 0px;

        span {
            color: #a37432;

            font-family: "Arial";

            font-weight: 600;

            line-height: 14px;

            text-transform: uppercase;
            vertical-align: -10px;
        }
        &:focus, &:hover, &:active {
            span{
                color: #ffffff;
            }
            border: 2px solid #a37432;

            background-color: #a37432;

        }
        &:visited {
            border: 2px solid #a37432;
            background-color: #a37432;
        }
    }
}

.media-width(@extremum, @break) when (@extremum ='max') and (@break =@screen__s) {
    .cms-home {
        .view-home-category-custom {
            width: 260px;
            height: 60px;

            span {
                color: #a37432;

                font-size: 14px;

                font-weight: 400;

                line-height: 14px;

                text-transform: uppercase;
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum ='max') and (@break =@screen__m) {
    .cms-home {
        .view-home-category-custom {
            width: 170px;
            height: 60px;
        }
    }
}
