.ves-megamenu>.navigation .ui-menu .nav-item.active>a{
  color: #000;
  border-color: #f8f8f8;
  background: #f8f8f8;
}
.navigation .level0 .submenu .active>a{
  border-color: #f8f8f8;
}


.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .nav-sections {
        .nav-sections-items {
            .nav-sections-item-content {
                .ui-menu {
                    max-width: 1200px;
                    margin: 0 auto;

                    .nav-item {
                        &.ui-menu-item {
                            position: unset;

                            .dropdown-menu {
                                //width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }

    .ves-megamenu .navigation .nav-item.level0.vertical-item>a, .ves-megamenu .nav-item.active>a  {
        background: #fff!important;
    }
    .navigation .nav-item.level0 .submenu .active>a, .navigation .level0.has-active>.level-top {
        border-color: #fff!important;
    }
    .ves-megamenu .navigation .nav-item.level0 .submenu .nav-item.current>a {
        border-color: #fff!important;
    }
    .ves-megamenu .navigation .nav-item.level0.current>a{
        background-color: #fff!important;
    }
  .ves-megamenu ul li.nav-item.active>a{
    background: #fff;
    color:#000;
  }
  header.page-header{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: #fff;
    z-index: 9;
  }
  .page-header.menu-scroll{
    .header.content{
      .minicart-wrapper{
        right: 3px;
        .action.showcart .counter.qty {
          background: #d5aa65;
          .counter-number{
            text-shadow:none;
          }
        }
      }
      .block-search {
        .link.wishlist, .switcher-language{
          display: none;
        }
        .head_phone_container {
          top: -1px;
          right: -256px;
          a{
            font-size: 23px;
          }
        }
      }
    }
  }
  .sections.nav-sections {
    font-family: "Futura PT Book";
    font-weight: 500;
    margin-bottom: 0;
    position: sticky;
    top: 92px;
    background-color: #fff;
    z-index: 7;
    .section-items {
      margin-bottom: 0;
      background-color: #fff;
      color: #a37432;
      border-top: 1px solid #d1d3d4;
      text-align: center;
    }
    .ves-megamenu {
      a{
        &:hover{
          border:none;
        }
      }
      div.navigation{
        //padding: 0 0 0 14px;
      }
      .item-sidebar.right-sidebar {
        width: 280px;
        float: right;
        position: absolute;
        right: 15px;
      }
      .nav-item.subhover > .submenu > .submenu-inner {
        padding: 23px 0;
      }
      .navigation .level0 .ves-column4 > .item-content1 > .mega-col {
        width: 100%;
      }
      .navigation .nav-item>.submenu .item-content{
        width: 540px;
      }
      .nav-item.subhover > .submenu {
        text-align: left;
        top: 31px;
        box-shadow: none;
        border: 1px solid #d8d8d8;
      }
      .nav-item.level0.current > a span {
        background-color: #fff;
        color: #a37432;
        border-bottom: 3px solid #a37432;
      }
      //ul.ui-menu.ui-widget.ui-widget-content.ui-corner-all{
      //  display: flex!important;
      //}
      .nav-item.level0 {
        flex-grow: 1;
        height: 34px!important;
          .current {
              > a {
                  background-color: #fff;
                  border-left: none;
              }
          }
        &:last-child {
          a {
            color: #a37432;
          }
        }
        a.nav-anchor.ui-corner-all {
          background-color: #fff;
          color:#000;
          margin: 0;
          span {
            &:hover {
              background-color: #fff;
              border-bottom: 3px solid #a37432;
              color: #a37432;
            }
          }
        }
        a.nav-anchor.ui-corner-all.actived span{
          color: #a37432;
        }
      }
      .nav-item.level1 {
        margin-bottom: 25px;
        a.nav-anchor.subitems-group, a.nav-anchor {
          font-size: 20px;
          color: #a27431;
          margin-bottom: 5px;
          padding: 0 10px;
          line-height: 21px;
          &:hover {
            background: #fff;
            border-color: #fff;
          }
        }
      }
      .nav-item.level2 {
        a.nav-anchor {
          font-size: 16px;
          color: #000;

          &:hover {
            color: #a27431;
            background: #fff;
          }
        }
      }
    }
  }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break =  @screen__xl) {
  .sections.nav-sections {
    .ves-megamenu .navigation{
      .nav-item > .submenu .item-content {
        width: 1200px;
      }
      .item-sidebar.right-sidebar {
        width: 280px;
      }
    }
  }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break =  @screen__l) {
  .sections.nav-sections {
    .ves-megamenu .navigation{
      .navigation .level0 .ves-column4 > .item-content1 > .mega-col {
        width: 20%;
      }
      .nav-item > .submenu .item-content {
        width: 920px;
      }
      .item-sidebar.right-sidebar {
        width: 160px;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
    .nav-sections {
        .nav-sections-items {
            .nav-sections-item-content {
                .ui-menu {
                    .nav-item {
                        .dropdown-menu {
                            width: 100%;
                        }

                        &.nav-1 {
                           &.ui-menu-item {
                               .dropdown-menu {
                                   .submenu-inner {
                                       .hidden-sm {
                                           .mega-col {
                                               .nav-item {
                                                   &.level1 {
                                                       min-height: 340px;
                                                   }
                                               }
                                           }
                                       }
                                   }
                               }
                           }
                        }

                        &.nav-2 {
                            &.ui-menu-item {
                                .dropdown-menu {
                                    .submenu-inner {
                                        .hidden-sm {
                                            .mega-col {
                                                .nav-item {
                                                    &.level1 {
                                                        min-height: 290px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        &.nav-3 {
                            &.ui-menu-item {
                                .dropdown-menu {
                                    .submenu-inner {
                                        .hidden-sm {
                                            .mega-col {
                                                .nav-item {
                                                    &.level1 {
                                                        min-height: 280px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        &.nav-4 {
                            &.ui-menu-item {
                                .dropdown-menu {
                                    .submenu-inner {
                                        .hidden-sm {
                                            .mega-col {
                                                .nav-item {
                                                    &.level1 {
                                                        min-height: 185px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        &.nav-5 {
                            &.ui-menu-item {
                                .dropdown-menu {
                                    .submenu-inner {
                                        .hidden-sm {
                                            .mega-col {
                                                .nav-item {
                                                    &.level1 {
                                                        min-height: 315px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        &.nav-6 {
                            &.ui-menu-item {
                                .dropdown-menu {
                                    .submenu-inner {
                                        .hidden-sm {
                                            .mega-col {
                                                .nav-item {
                                                    &.level1 {
                                                        min-height: 240px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

