.cms-diplomas {
    .diplomas {
        &_tittle {
            position: relative;
            height: 200px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            width: 99.7vw;
            margin-left: 50%;
            margin-right: 50%;
            -webkit-transform: translate(-50%);
                    transform: translate(-50%);
            background-repeat: no-repeat !important;
            background-position: center !important;
            background-size: cover !important;

            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgba(0, 0, 0, 0.5);

            }

            h2 {
                color: #ffffff;

                font-family: "Futura PT Book";

                font-size: 48px;

                font-weight: 400;

                text-transform: uppercase;
                text-align: center;
                position: relative;
                z-index: 1;
                width: 100%;
                -webkit-box-sizing: border-box;
                        box-sizing: border-box;
                margin-left: auto;
                margin-right: auto;
                max-width: 1170px;
                margin-top: 75px;

                &::before {
                    position: absolute;
                    content: "";
                    display: block;
                    width: 100%;
                    top: -50px;
                    height: 38px;
                    background-image: url('@{baseDir}images/line-logo.png');
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    z-index: 1;


                }
            }
        }


    }

    #diplomas_popup {
        margin-bottom: 60px;
        width: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;

        img {
            width: 100%;
            height: 244px;
        }

        .diplomas_bag {
            width: 100%;
            padding: 25px;
            padding-top: 40px;
            padding-bottom: 40px;
            background-image: url('@{baseDir}images/bg-al.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            margin-bottom: 10px;

        }
    }


    #diplomas_img {
        width: calc(~'50% - 30px');
        margin-top: 30px;
        max-width: 391px;
        margin-left: 10px;
        margin-right: 10px;

        p {
            color: #000000;
            font-size: 22px;
            font-family: "Arial";
            text-transform: uppercase;
            padding-left: 30px;
            padding-right: 30px;
            margin: 0;

        }

        h2 {
            color: #a37432;
            font-family: "Arial";
            font-size: 18px;
            font-weight: 400;
            text-transform: uppercase;
            padding-left: 30px;
            padding-right: 30px;
            margin: 0;
        }
    }

    .show-diplomas {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .66);
        position: absolute;
        top: 0;
        left: 0;
    }

    .show-diplomas .overlay .close-show {
        position: absolute;
        content: "";
        display: block;
        top: 50%;
        height: 25px;
        width: 25px;
        position: fixed;
        left: 50%;
        -webkit-transform: translate(1400%, -1121%);
                transform: translate(1400%, -1121%);
        cursor: pointer;
        overflow: hidden;
        background-image: url('@{baseDir}images/close.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

    }

    .show-diplomas {
        .diplomas_bag {
            width: 600px;
            height: 500px;
            background-image: url('@{baseDir}images/bg-al.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            position: fixed;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
            overflow: hidden;

        }
    }

    .show-diplomas .img-show {
        width: calc(~'100% - 30px');
        height: 362px;
        top: 50%;
        left: 50%;
        max-width: 523px;
        position: fixed;




    }
}

.hidden-scrolling {
    height: 100%;
}

.media-width(@extremum, @break) when (@extremum ='max') and (@break =@screen__m) {
    body.cms-diplomas .show-diplomas .img-show {
        position: fixed;
    }

    body.cms-diplomas .show-diplomas .overlay .close-show {
        top: 30%;
        left: 37%;
    }

    body.cms-diplomas .show-diplomas {
        height: 300%;
    }
}

.media-width(@extremum, @break) when (@extremum ='max') and (@break =@screen__s) {
    body.cms-diplomas .show-diplomas .overlay .close-show {
        display: none;
    }

    body.cms-diplomas .show-diplomas .img-show {
        height: 325px;
        position: fixed;
        width: calc(~'100% - 30px');
    }

    body.cms-diplomas .show-diplomas {

        height: 300%;
        top: -10%;
    }

    body.cms-diplomas #diplomas_popup {
        margin-bottom: 60px;
    }

    body.cms-diplomas #diplomas_img {
        width: calc(~'100% - 25px');

    }

    //body.cms-diplomas .diplomas_tittle h2 {
    //    font-size: 30px;
    //
    //}
    //
    //body.cms-diplomas .diplomas_tittle h2::before {
    //    background-image: url('@{baseDir}images/line-logo320.png');
    //    background-size: auto;
    //    top: -36px;
    //
    //}
}

.media-width(@extremum, @break) when (@extremum ='min') and (@break =@screen__xl) {
    body.cms-diplomas #diplomas_img {
        width: calc(~'33% - 25px');

    }

    body.cms-diplomas #diplomas_popup {
        -ms-flex-pack: distribute;
            justify-content: space-around;

    }

    body.cms-diplomas .show-diplomas .img-show {

        width: 600px;
        height: 400px;
        background: #FFF;
        position: fixed;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        overflow: hidden;
    }

}