@import '_desktop_menu.less';
@import '_header.less';
@import '_page_header_title.less';
@import '_mob_menu.less';
@import '_signin_popup.less';
@import '_account_cabinet.less';
@import '_stock_page.less';
@import '_checkout_cart.less';
@import '_checkout_page.less';
@import '_checkout_success_page.less';
@import '_checkout_minicart.less';
@import '_product_photoslider.less';
@import '_main_popups.less';
@import '_footer.less';
@import '_banner_slider_home.less';
@import '_reset.less';
@import '_about-home.less';
@import '_home.less';
@import '_product-slide-home.less';
@import '_category-home.less';
@import '_custom_button_home_category.less';
@import '_category.less';
@import '_payment-and-delivery__page.less';
@import '_advantages-page.less';
@import '_about-company-pages.less';
@import '_collective.less';
@import '_diplomas-page.less';
@import '_breadcrumbs.less';
@import '_shop-contact-pages.less';
@import '_review-page.less';
@import '_category-page.less';
@import '_category-page-product.less';
@import '_faq.less';
@import '_fonts.less';

.icon{
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
html body{
  //font-family: "Futura PT Book";
  font-family: "Arial";
  .page-main{
    max-width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
  }
}
  @screen__xxs: 320px;
  @screen__xs: 480px;
  @screen__s: 640px;
  @screen__m: 768px;
  @screen__l: 1024px;
  @screen__xl: 1300px;
  @screen__xxl: 1600px;



