.faq-index-index {
    .faq-collection {
        margin-bottom: 40px;
        .faq-content{
            margin-top: 20px;
        }

        }
        
    .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{
        border:none;
    }
    .ui-accordion .ui-state-default::after{
        content: "";
        display: block;
        width: 27px;
        top: 45px;
        height: 14px;
        background-image: url('@{baseDir}images/down.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: absolute;
        right: 43px;

    }
    .ui-accordion .ui-accordion-header-active::after{
        content: "";
        display: block;
        width: 27px;
        top: 45px;
        height: 14px;
        background-image: url('@{baseDir}images/top.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: absolute;
        right: 43px;
       
    }
    .faq-accordion {
        .ui-accordion-content {
            border: none;

        }
      
        .ui-accordion-header.ui-accordion-header-active.ui-state-active{
            background-image: none;
            background-color: #a37432;
            color:#ffffff;
        }
        .ui-accordion-header {
            color: #a37432;
            font-family: "Arial";
            font-size: 22px;
            font-weight: 400;
            text-transform: uppercase;
            background-image: url('@{baseDir}images/bg-fq.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            border-top:2px solid #a37432;
            display: flex;
            align-items: center;
            height: 100px;
            padding: 0 75px 0 20px;
            &:hover{
                background-color: unset;
                color: #a37432;
        }
    }
    .ui-accordion-header.ui-state-active{
        border:none;
    }

    p {
        color: #454545;
        font-family: "Arial";
        font-size: 16px;
        font-weight: 400;
    }

}

}

.media-width(@extremum, @break) when (@extremum ='max') and (@break =@screen__m) {
body.faq-index-index {
    .ui-accordion {
        .ui-state-default::after,  .ui-accordion-header-active::after {
            right: 25px;
            width: 16px;
            top: 39px;
        }
    }
    .faq-accordion .ui-accordion-header{
        font-size: 16px;
        padding: 0 44px 0 10px;
        background-position: unset;
    }
}
}
.media-width(@extremum, @break) when (@extremum ='max') and (@break =@screen__s) {
body.faq-index-index {
    div.faq-accordion .ui-accordion-header{
        font-size: 14px;
    }
}
}