@font-face {
    font-family: 'Futura PT Book';
    src: url('fonts/FuturaPT-Book.woff2') format('woff2'),
         url('fonts/FuturaPT-Book.woff') format('woff'),
         url('fonts/FuturaPT-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arial Rounded MT';
    src: url('fonts/ArialRoundedMTBold.woff2') format('woff2'),
         url('fonts/ArialRoundedMTBold.woff') format('woff'),
         url('fonts/ArialRoundedMTBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ArialMT';
    src: url('fonts/ArialMT.woff2') format('woff2'),
         url('fonts/ArialMT.woff') format('woff'),
         url('fonts/ArialMT.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?ylrtay');
    src:  url('fonts/icomoon.eot?ylrtay#iefix') format('embedded-opentype'),
          url('fonts/icomoon.ttf?ylrtay') format('truetype'),
          url('fonts/icomoon.woff?ylrtay') format('woff'),
          url('fonts/icomoon.svg?ylrtay#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-Vector:before {
    content: "\e90c";
}
.icon-Vector-1:before {
    content: "\e90d";
    color: #a27431;
}
.icon-Forma_1:before {
    content: "\e90a";
    color: #fff;
}
.icon-inst:before {
    content: "\e90b";
    color: #fff;
}
.icon-burger:before {
    content: "\e902";
}
.icon-Forma_1__3:before {
    content: "\e903";
    color: #be8f4d;
}
.icon-Shape_1__4:before {
    content: "\e904";
    color: #be8f4d;
}
.icon-layers .path1:before {
    content: "\e905";
    color: rgb(163, 116, 50);
}
.icon-layers .path2:before {
    content: "\e906";
    margin-left: -0.970703125em;
    color: rgb(255, 255, 255);
}
.icon-layers-1 .path1:before {
    content: "\e907";
    color: rgb(163, 116, 50);
}
.icon-layers-1 .path2:before {
    content: "\e908";
    margin-left: -0.970703125em;
    color: rgb(255, 255, 255);
}
.icon-Forma_1__2:before {
    content: "\e909";
    color: #be8f4d;
}
.icon-left:before {
    content: "\e900";
    color: #fff;
}
.icon-right:before {
    content: "\e901";
    color: #fff;
}

