.page-footer {
  font-family: "Futura PT Book";
  background-color: #4c3e3d;
  color: #fff;
  padding-bottom: 20px;
}
  .footer.content {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    background: #4c3e3d;
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 68px;
    text-align: left;
    ul{
      padding-right: 0;
    }
    .footer_logo{
      display: block;
      margin: 20px;
    }
    .footer_new_links {
      margin: 20px 20px 0 20px;
      display: block;
      width: 150px;
      .footer-links li {
        margin-bottom: 10px;
        a {
          font-size: 15px;
          &:hover{
            color: #CD853F;
          }
        }
      }
    }
    .social-links{
      background: #ebebeb;
      width: 100%;
      text-align: center;
    }
    .callback_phone_number a,  .footer-links li a, .email-address-links a{
      color: #fff;
      text-decoration: none;
    }
    .callback_phone_number {
      margin: 20px 20px 0 20px;
      text-align: right;
      display: block;
      width: 180px;
      .feedback-form{
        font-size: 14px;
        cursor: pointer;
        color: #be8f4d;
        font-weight: 600;
        &:hover{
          text-decoration: underline;
        }
      }
      .phone-number{
        padding: 0;
      }
      .icon-Forma_1__2 {
        width: 40px;
        height: 0;
        font-size: 20px;
          &:before {
          content: "\e909";
          color: #be8f4d;
        }
      }
      li {
        margin-bottom: 10px;
        a {
          font-size: 15px;
        }
      }
    }
    .footer_links_address {
      margin: 20px 20px 0 20px;
      font-size: 14px;
      display: block;
      width: 250px;
      .email-address-links,.city-address {
        display: flex;
        flex-direction: row;
        justify-content: unset;
        align-items: center;
      }
      .email-address-links{
        margin-bottom: 15px;
        .icon-Forma_1__3 {
          &:before {
            content: "\e903";
            color: #be8f4d;
          }
        }
        a {
          padding-left: 10px;
        }
      }
      .city-address{
        .city-address-links{
          padding-left:10px;
        }
        .icon-Shape_1__4 {
          &:before {
            content: "\e904";
            color: #be8f4d;
            font-size: 22px;
          }
        }
      }
    }
    .links_memo {
      text-align: right;
      display: block;
      margin: 20px 36px 20px 20px;
      .links_create {
        font-size: 13px;
        color: #be8f4d;
        text-transform: lowercase;
        text-decoration: none;
      }
    }
    .social-links {
      background: #ebebeb;
      width: 100%;
      display: flex;
      justify-content: center;
      position: absolute;
      left: 0;
      margin-top: -78px;
      .social-links_facebook, .social-links_inst{
        background-color: #a37331;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px 10px;
        transition: all .3s;
        width: 33px;
        height: 33px;
        text-decoration: none;
          a{
              font-size: 18px;
              text-decoration: none;
          }
        &:hover{
          background-color: #4c3e3d;
        }
      }
      .social-links_facebook a{
        width: 10px;
        height: 19px;
      }
      .social-links_inst a{
        width: 16px;
        height: 19px;
      }
    }
  }
.copyright {
  background-color: #0f0b0b;
  color: #d2a261;
  text-transform: uppercase;
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
  .page-footer .footer.content{
    text-align: center;
    justify-content: center;
    .footer_links_address {
      .email-address-links, .city-address {
        justify-content: center;
      }
    }
    .callback_phone_number{
      text-align: center;
    }
    .links_memo {
      text-align: center;
      margin-right:20px;
    }
  }
}
