.page-wrapper {
  .top_header_new_links {
    background-color: #4c3e3d;

    ul.header-links {
      list-style-type: square;
      padding: 0;
      color: #a27331;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30px;
      font-family: "Futura PT Book";

      .header-new-links.header-new-links-hover {
          max-width: 150px;
          width: 100%;
          text-align: center;
          // border-left: 1px solid #fff;
          // border-right: 1px solid #fff;


          .file_menu-about {
              display: none;
              background-color: #fff;
              position: fixed;
              z-index: 1111111;
              width: 160px;
              margin-top: 3px;
              padding: 5px 0;
              border-top: 3px solid #a47432;
              box-shadow: 0px 2px 2px rgba(24, 24, 24, 0.35);
              li {
                  list-style: none;
                  padding: 12px 10px;
                  margin-bottom: 0;
                  a {
                      font-family: "Futura PT Book";
                      font-weight: 600;
                      font-style: normal;
                      font-size: 16px;
                      color: #333333 !important;
                      text-align: center;
                      line-height: 16px;
                      text-transform: capitalize;
                      display: block;

                      &:hover {
                          color: #a27331 !important;

                      }
                  }
              }


          }
      }

      li.header-new-links {
        margin: 0 0 0 50px;
        padding-left: 20px;
        position: relative;
        &:nth-child(2){
          margin-left:25px;
        }


        &:first-child {
          list-style-type: none;
          margin-left: 0;
          padding-left: 0;
        }

        a {
          font-size: 12px;
          font-weight: 600;
          text-decoration: none;

          &:visited {
            color: #fff;
          }

          &:hover {
            color: #a27331;
          }
        }
      }
    }
  }
}

.page-header .panel.wrapper {
  background-color: #4c3e3d;
  .header.panel {
    padding: 0;
  }
}

.header.content {
  padding-top: 14px;

  .logo {
    margin-bottom: 3px;

    img {
      width: 134px;
      height: 82px;
    }
  }

  .minicart-wrapper {
    .action.showcart {
      &:before {
        content: '';
        width: 26px;
        height: 32px;
        background-image: url('@{baseDir}images/basket.png');
      }

      .counter.qty {
        background: #4c3e3d;
        border-radius: 50px;
        height: 26px;
        width: 26px;
        position: absolute;
        right: 17px;
      }

      .counter.qty.empty {
        display: inline-block;
      }
    }
  }

  .block-search {
    margin-top: 14px;

    &:hover {
      .actions button.action.search {
        &:before {
          background-image: url('@{baseDir}images/search_yellow.png');
        }
      }
    }

    .actions {
      button.action.search {
        opacity: 1;

        &:before {
          content: '';
          width: 22px;
          height: 22px;
          margin: 5px 1px 0px 0;
          background-image: url('@{baseDir}images/serch.png');
        }
      }
    }

    .control {
      input[type="text"] {
        border-radius: 50px;
      }

      input:not([disabled]):focus {
        box-shadow: none;
      }

      li.link.wishlist,
      .header.links li {
        list-style: none;
      }

      .switcher-language .actions strong {
        font-weight: 600;
        font-size: 16px;
        padding-right: 5px;
        color: #be8f4d;
        letter-spacing: 1px;
        font-family: "Futura PT Book";
      }

      .action.toggle {
        &:after {
          content: '';
          color: #be8f4d;
          top: 7px;
          position: relative;
          border: 6px solid;
          border-color: transparent transparent #a1762e transparent;
          z-index: 99;
          transform: rotate(180deg);
        }
      }

      .action.toggle.active {
        &:after {
          top: 0;
          transform: rotate(1deg);
        }
      }

      .head_phone_container {
        a {
          font-size: 16px;
          font-weight: 700;
          text-decoration: none;
          letter-spacing: 0.5px;
          font-family: "Futura PT Book";
        }
      }

      .link.wishlist {
        width: 24px;

        a {
          font-size: 0;

          &:hover {
            &:before {
              background-image: url('@{baseDir}images/heart2.png');
            }
          }

          &:before {
            content: '';
            background-image: url('@{baseDir}images/heart.png');
            width: 24px;
            height: 21px;
            position: absolute;
          }
        }
      }
      .header.links {
        .cabinet {
          position: absolute;
          right: -14px;
          a {
            font-family: "Futura PT Book";
            font-size: 12px;
            font-weight: 600;
            text-decoration: none;
            color: #fff;
            text-transform: uppercase;
            &:visited {
              color: #fff;
            }
            &:hover {
              color: #a27331;
            }
          }
        }
      }

      .header.links {
        margin: 0;
        padding: 0;
        width: 29px;

        li {
          margin: 0;
          position: relative;
            width: 50px;

          a {
            font-size: 12px;
            text-transform: uppercase;
            text-decoration: none;
            color: #fff;
            font-weight: 600;

            &:hover {
              color: #be8f4d;

              &:before {
                background-image: url('@{baseDir}images/loginyellow.png');
              }
            }

            &:before {
              content: '';
              background-image: url('@{baseDir}images/loginwhite.png');
              width: 21px;
              height: 20px;
              position: absolute;
              right: 55px;
            }
          }
        }
      }
    }

    .label {
      &:before {
        content: '';
        width: 22px;
        height: 22px;
        margin: 0 25px 0 0;
        background-image: url('@{baseDir}images/serch.png');
      }
    }
  }

  .nav-toggle {
    margin-top: 5px;

    &:before {
      content: "\e902";
      font-family: 'icomoon' !important;
      font-size: 23px;
      color: #4c3e3d;
    }
  }
}


.media-width(@extremum, @break) when (@extremum ='min') and (@break =@screen__m) {
  .page-header {
    //max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    //padding-left: 15px;
    //padding-right: 15px;
    .header.content {
      padding-top: 14px;
      max-width: 1200px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .minicart-wrapper {
    right: 67px;
    top: 12px;
  }

  .block-search {
    position: relative;
    right: 313px;
    top: 0;

    .control {
      .head_phone_container {
        position: absolute;
        top: 5px;
        right: -169px;
        a {
          color: #000;
        }
      }

      li.link.wishlist {
        position: absolute;
        top: 6px;
        right: -227px;
      }

      .switcher-language {
        position: absolute;
        top: 4px;
        right: -343px;
      }

      ul.header.links {
        position: absolute;
        top: -55px;
        right: -335px;

        li a {
          &:before {
            right: 30px;
          }
        }
      }
    }
  }
}

.media-width(@extremum, @break) when (@extremum ='min') and (@break =@screen__l) {
  .header.content {
    //padding: 30px 50px 0 56px;
    //padding: 30px 0 0 0;
    .block-search {
      width: 400px;
    }
  }

}

.media-width(@extremum, @break) when (@extremum ='max') and (@break =@screen__m) {

  .panel.wrapper,
  .top_header_new_links {
    display: none;
  }

  .nav-before-open.nav-open .header.content .block-search .control {
    display: flex;
    //.lib-css(transition, left .3s, 1);
    transition: left .3s;
    height: auto;
    opacity: 1;
    padding: 0 15px;
    .link.wishlist {
      width: 70px;
      display: flex;
      justify-content: center;
      height: 50px;
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }

  .nav-open {
    .nav-sections {
      z-index: 9;
    }

    .header.content .nav-toggle {
      &:before {
        content: "\e90c";
        font-family: 'icomoon' !important;
      }

      &:after {
        display: none;
      }
    }
  }

  .page-header .header.content {
    padding: 10px 15px 0 15px;

    span.action.nav-toggle {
      right: 20px;
      left: unset;
        &:hover{
            &:before{
                color: #be8f4d;
            }
        }
    }

    .minicart-wrapper {
      right: 60px;
    }

    .block-search {

      .label.active,
      .form.minisearch.active {
        .control {
          height: auto;
          opacity: 1;
          padding: 15px 15px;

          .switcher-language,
          .head_phone_container,
          li.link.wishlist,
          ul.header.links {
            display: none;
          }
        }
      }

      .control {
        padding: 0;
        opacity: 0;
        height: 0;
        align-items: center;
        background-color: #4c3e3d;
        color: #fff;

        .switcher .options ul.dropdown {
          left: 0;

          &:before,
          &:after {
            display: none;
          }
        }

        .head_phone_container {
          margin: 0 30px;

          a {
            color: #fff;
          }
        }

        ul.header.links {
          position: absolute;
          right: 34px;
          .cabinet{
            top:-11px;
          }

          li {
            a{
              &:before {
                left: -31px;
                position: absolute;
              }
            }
          }
        }
      }

      .label {
        position: relative;
        right: 75px;
      }
    }

    a.logo {
      margin-left: 0;

      img {
        width: 83px;
        height: 51px;
      }
    }
  }
}

.media-width(@extremum, @break) when (@extremum ='max') and (@break =@screen__xs) {
    .nav-before-open.nav-open div.header.content .block-search .control {
        .link.wishlist {
            width: 40px;
        }
    }
  .page-header .header.content {
    padding: 3px 15px;

    .nav-toggle {
      margin-top: 0;
    }

    .minicart-wrapper {
      right: 45px;
    }

    .block-search {
      .label {
        position: relative;
        right: 45px;
      }

      .control {
        //justify-content: space-between;

        .head_phone_container {
          margin: 0;
          padding-left: 7px;
        }

        ul.header.links {
          //position: unset;

          li a {
            font-size: 0;

            &:before {
              left: 0;
            }
          }
        }
      }
    }
  }
}
ul.header.links .authorization-link a{
    display: none;
}
