
.cms-home {
    .page-title-wrapper{
       display: none;

    }
    //.navigation,
    .breadcrumbs,
    .page-header .header.panel,
    //.header.content,
    //.footer.content,
    .page-main,
    .page-wrapper>.widget,
    .page-wrapper>.page-bottom,
    .block.category.event,
    .top-container {
        padding-left: 0px;
        padding-right: 0px;
margin-left: 0px;
margin-right: 0px;
width: 100%;
max-width: none;
    }


}

//media

.media-width(@extremum, @break) when (@extremum ='max') and (@break =@screen__s) {
    .cms-home {
        .navigation,
        .breadcrumbs,
        .page-header .header.panel,
        .page-main,
        .page-wrapper>.widget,
        .page-wrapper>.page-bottom,
        .block.category.event,
        .top-container {
            padding-left: 0px;
            padding-right: 0px;
        }


    }


}
