._has-modal{
.modal-popup .modal-header {
  padding: 0;
}
.modals-overlay {
  background-color: rgba(40, 22, 22, 0.65);
}
  #feedbackform-message-container .message-date span {
    &:first-child {
      color: #d2a65c;
    }
  }
  .modal-popup.modal-slide .modal-inner-wrap {
  background: url('@{baseDir}images/triumf_callback.png') no-repeat top;
  height: 415px;
  width: 770px;
  justify-content: center;

  &:before {
    position: absolute;
    content: "";
    display: block;
    width: 99%;
    top: 63px;
    height: 35px;
    background-image: url('@{baseDir}images/line-logo.png');
    background-repeat: no-repeat;
    background-position: center;
    left: 50%;
    transform: translate(-50%, -50%);
  }
    &:after {
      position: absolute;
      content: "";
      display: block;
      width: 92px;
      top: 5px;
      height: 84px;
      background-image: url('@{baseDir}images/leaf.png');
      background-repeat: no-repeat;
      background-position: center;
      left: 14px;
      transform: rotate(77deg);
    }

  .action-close {
    position: absolute;
    right: -45px;
    top: -17px;

    &:before {
      font-size: 24px;
      color: #ffffff;
      line-height: 27px;
    }
      &:hover, &:active {
          box-shadow: none;
          &:before {
              color: #a1762e;
          }
      }
  }
  header .modal-title {
    display: none;
  }
}
  .modal-popup._inner-scroll .modal-content {
    padding: 0;
    overflow-y: unset;
  }
  footer.modal-footer{
    border: none;
    text-align: center;
    padding: 0 0 60px 0;
    button {
      background-color: #a47432;
      border-radius: unset;
      //padding: 22px 65px;
      height: 60px;
      width: 260px;
      text-transform: uppercase;
      color: #fff;
      box-shadow: none;
      border: none;
      &:hover {
        background-color: #4c3e3d;
        border: none;
      }
    }
  }
}


#popup-form-request{
  padding:0 50px;
  width: 100%;
  form#product-contact-form{
      margin-top: 90px;
    input[type="text"] {
      height: 60px;
      border: 1px solid #e5e5e5;
      margin: 0 0 20px;
    }
      .input-text.mage-error, .input-text.required.mage-error{
          border: 1px solid #e24b41;
      }

    input:not([disabled]):focus {
      box-shadow: 0 0 3px 1px #d2a361;
    }

    div.mage-error[generated] {
      position: relative;
      top: -19px;
      left: 0;
      z-index: 99;
      height: 0;
      margin: 0;
    }
  }
}
.modal-popup.modal-slide .modal-footer{
  border: none;
  text-align: center;
    margin: 0 auto;
    padding:20px 30px;
}

//popup wishlist

.modal-popup.wishlist-detail-modal{
  .modal-footer{
    //padding-bottom: 70px;
      margin-top: 40px;
  }
}
.wishlist-detail-modal #wishlist-popup, #popup-form-request .message-date{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
    > span{
        font-size: 22px;
        font-family: "Arial";
        font-weight: 400;
        color: #000;
        text-transform: uppercase;
        text-align: center;
    }
    .wishlist-need-register, .message-thank {
        color: #a37432;
    }
}


.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
  ._has-modal{
    .modal-popup.modal-slide{
      left:0;
    }
    .modal-popup.modal-slide._inner-scroll .modal-inner-wrap {
      width: 100%;
      min-height: unset;
      margin: 5rem auto;
      overflow: unset;
      transition: none;
      .action-close {
        position: absolute;
        right: 0;
        top: 0;

        &:before {
          font-size: 24px;
          color: #a47432;;
          line-height: 27px;
        }
      }
    }
  }
    //popup wishlist
    .modal-popup.wishlist-detail-modal #wishlist-popup, .modal-content #popup-form-request .message-date{
        > span {
            font-size: 18px;
        }
    }

}
