.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .ves-megamenu .nav-item .opener.item-active {
        background-color: rgb(248, 248, 248);
    }
  header.page-header{
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: #fff;
    margin-bottom: -5px;
    border-bottom: none;
  }
  nav.navigation{
    ul{
      margin: 0 18px;
      li{
        padding: 5px 0;
      }
    }
  }
  .ui-state-focus{
    display: none;
  }
  .section-item-content .ves-megamenu>.navigation .nav-item>a{
    padding: 0;
    font-size: 15px;
    color: #000;
    font-weight: 500;
    letter-spacing: 0.75px;
    border: none;
    &:hover{
      color: #a27331;
      border:none;
      background: #f8f8f8;
    }
  }

  .nav-open .page-wrapper{
    left: unset;
  }
  .nav-sections {
    padding-top: 92px;
    width: 100%;
    left: -100%;
    //.nav-sections-items {
    //  top: -97px;
    //}
    .nav-sections-item-title {
      display: none;
    }
    .nav-sections-item-content{
      margin-top: 0;
    }
  }
}
