.checkout-cart-index, .page-with-filter, .checkout-index-index, .checkout-onepage-success,
.cms-page-view, .category-akcii, .catalog-category-view, .product-review, .faq-index-index, .account{
  .breadcrumbs {
    .items .item.account, .items .item.product {
      display: inline-block;
      a, strong {
        color: #ffffff;
        font-family: "Arial";
        font-size: 14px;
        font-weight: 400;
      }
    }
  }
  .page-title-wrapper{
    position: unset;
  }
  .header-wrap{
    background: url('@{baseDir}images/triumf_basket.png') no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 200px;
    &:before {
      position: absolute;
      content: "";
      display: block;
      width: 100%;
      top: 242px;
      height: 35px;
      background-image: url('@{baseDir}images/line-logo.png');
      background-repeat: no-repeat;
      background-position: center;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    h1 {
      margin: 0 0 34px 0;
      font-size: 48px;
      text-transform: uppercase;
      color: #ffffff;
      font-family: "Futura PT Book";
    }
  }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
  .checkout-cart-index, .page-with-filter, .checkout-index-index, .checkout-onepage-success,
  .cms-page-view, .category-akcii, .catalog-category-view, .product-review, .faq-index-index, .account{
    .breadcrumbs {
      display: none;
    }
    .page-title-wrapper{
      padding: 0;
      .header-wrap {
        height: 182px;
        &:before {
          top: 136px;
          height: 23px;
          background-size: cover;
        }
      }
    }
  }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
  .checkout-cart-index, .page-with-filter, .checkout-index-index, .checkout-onepage-success,
  .cms-page-view, .category-akcii, .catalog-category-view, .product-review, .faq-index-index, .account{
    .page-title-wrapper{
      padding: 0;
      .header-wrap {
        height: 120px;
        h1 {
          font-size: 28px;
          margin: 0 0 17px 0;
        }
        &:before {
          top: 117px;
          height: 25px;
          background-size: cover;
        }
      }
    }
  }
}
