.cms-payment-and-delivery {
    .header-wrap {
        background: url('@{baseDir}images/triumf_delivery.png') no-repeat center;
        background-size: cover;
    }
    .payment-and-delivery {
        //&_tittle {
        //    position: relative;
        //    height: 200px;
        //    display: -webkit-box;
        //    display: flex;
        //    -webkit-box-pack: center;
        //    justify-content: center;
        //    -webkit-box-align: center;
        //    align-items: center;
        //    width: 99.7vw;
        //    margin-left: 50%;
        //    margin-right: 50%;
        //    -webkit-transform: translate(-50%);
        //    transform: translate(-50%);
        //    background-repeat: no-repeat !important;
        //    background-position: center !important;
        //    background-size: cover !important;
        //
        //    &::after {
        //        content: '';
        //        position: absolute;
        //        top: 0;
        //        left: 0;
        //        right: 0;
        //        bottom: 0;
        //        background: rgba(0, 0, 0, 0.5);
        //
        //    }
        //
        //    h2 {
        //        color: #ffffff;
        //
        //        font-family: "Futura PT Book";
        //
        //        font-size: 48px;
        //
        //        font-weight: 400;
        //
        //        text-transform: uppercase;
        //        text-align: center;
        //        position: relative;
        //        z-index: 1;
        //        width: 100%;
        //        box-sizing: border-box;
        //        margin-left: auto;
        //        margin-right: auto;
        //        max-width: 1170px;
        //        margin-top: 75px;
        //
        //        &::before {
        //            position: absolute;
        //            content: "";
        //            display: block;
        //            width: 100%;
        //            top: -50px;
        //            height: 38px;
        //            background-image: url('@{baseDir}images/line-logo.png');
        //            background-repeat: no-repeat;
        //            background-size: cover;
        //            background-position: center;
        //            z-index: 1;
        //
        //
        //        }
        //    }
        //}

        &_text {
            padding-bottom: 50px;
            padding-top: 54px;

            p {
                color: #454545;

                font-family: Arial;

                font-size: 16px;

                font-weight: 400;
                margin: 0;
                padding-top: 15px;
                padding-bottom: 15px;
            }

        }

        &_cont {
            h2 {
                color: #a37432;

                font-family: "Futura PT Book";

                font-size: 22px;

                font-weight: 500;

                text-transform: uppercase;
                display: inline;
            }

            p {
                display: inline;
            }
        }

        &_p {
            &:last-child {
                padding-top: 15px;
                padding-bottom: 15px;

            }

            h2 {
                color: #a37432;

                font-family: "Futura PT Book";

                font-size: 22px;

                font-weight: 500;

                text-transform: uppercase;
                display: inline;
                margin: 0;
            }

            p {
                display: inline;
                color: #454545;

                font-family: Arial;

                font-size: 16px;

                font-weight: 400;
            }

        }

    }

}

.media-width(@extremum, @break) when (@extremum ='max') and (@break =@screen__s) {
    body.cms-payment-and-delivery .payment-and-delivery_text {
        padding-bottom: 0;
        padding-top: 6px;
    }
}