.fotorama__wrap:not(.fotorama__wrap--toggle-arrows) .fotorama__fullscreen-icon{
    background-color: transparent;
    &:hover, &:active{
        background-color: transparent;
    }
}

.fotorama--fullscreen{
  background: #6f6563d4;
  .fotorama__arr {
    background-color: unset;
    //.fotorama__arr {
    //  &:focus {
    //    &:after {
    //      content: "\e901";
    //      color: #fff;
    //      font-family: 'icomoon' !important;
    //      box-shadow: none;
    //      font-size: 60px;
    //    }
    //  }
    //}
  }

  .fotorama__arr .fotorama__arr__arr, .fotorama__fullscreen-icon{
    background-image: none;
  }
  .fotorama__arr.fotorama__arr--prev {
    &:after {
      content: "\e900";
      color: #fff;
      font-family: 'icomoon' !important;
      box-shadow: none;
      font-size: 60px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
    }
  }
  .fotorama__arr.fotorama__arr--next{
    &:after {
      content: "\e901";
      color: #fff;
      font-family: 'icomoon' !important;
      box-shadow: none;
      font-size: 60px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
    }
  }
  .fotorama__fullscreen-icon{
    height: 40px;
    right: 11px;
    top: 1px;
    width: 40px;
    &:hover{
      &:after {
        color: #4c3e3d;
      }
    }
    &:after {
      box-shadow: none;
      content: "\e90d";
      color: #fff;
      font-family: 'icomoon' !important;
      font-size: 23px;
    }
  }
}


.media-width(@extremum, @break) when (@extremum ='max') and (@break =@screen__m) {
  body.fotorama--fullscreen{
    background: #6f6563d4;

  }
}


