
.cms-home {

.product-items.widget-viewed-grid{
    .owl-carousel .owl-nav.disabled,
    .owl-carousel .owl-dots.disabled {
        display: block;
        height: 0;
        margin: 0;

    }

}
.product-items.widget-viewed-grid{
    .owl-carousel .owl-nav {
        .owl-prev {
            span {

                &:after {
                    position: absolute;
                    content: "";
                    display: block;
                    background: url('@{baseDir}images/left1.svg') no-repeat;
                    float: left;
                    margin: 0 6px 0 0;
                    width: 46px;
                    height: 51px;
                    top: 44%;
                    left: 3px;

                }

            }

        }

        .owl-next {
            span {
                &:after {
                    position: absolute;
                    content: "";
                    display: block;
                    background: url('@{baseDir}images/1right.svg') no-repeat;
                    float: left;
                    margin: 0 6px 0 0;
                    width: 30px;
                    height: 51px;
                    top: 44%;
                    right: 3px;
                    margin: auto;

                }

            }

        }

    }

}
.block-content {
    max-width: 1169px;
    margin: auto;

}

    .block-content:nth-child(2) {
        max-width: 1169px;
        margin: auto;
        .products-grid.grid{
            .product-item.product-slider {
                height: 409px;

            }

        }
    }

    .mp-product-slider-block.block.widget.block-products-list.grid {
        padding-top: 80px;
        max-width: 1169px;
        margin: 30px auto !important;

        .mp-product-slider-title {
            color: #000000;
            font-family: "Futura PT Book";
            font-weight: 400;
            line-height: 26px;
            padding-top: 15px;
            text-transform: uppercase;
            position: relative;
            margin-bottom: 13px;
            &::before {
                position: absolute;
                content: "";
                display: block;
                width: 100%;
                top: -40px;
                height: 35px;
                background-image: url('@{baseDir}images/line-logo.png');
                background-repeat:no-repeat;
                background-size:cover;
                background-position:center;


            }


        }

        .mp-ps-info {
            color: #a37432;
            font-family: "Arial";
            font-size: 22px;
            font-weight: 400;
            text-transform: uppercase;
            margin-top: 1rem;
            margin-bottom: 0rem;


        }


    }

    .product-item {
        position: relative;
    }

    .product-item.product-slider {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;


        .slider-product-item-info:hover {

            .slider-product-item-details {
                .product.name.product-item-name {
                    a {
                        color: #a37432;

                    }

                }

            }




        }


        .slider-product-item-info {
            .product-slider-block{
                width: 100%;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
-ms-flex-pack: distribute;
    justify-content: space-around;

            }
            .top-sales-label {
                width: 55%;
                text-align: center;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                border: 2px solid #a37432;
                background-color: #a37432;
                color: #ffffff;
                font-family: "Arial";
                font-size: 14px;
                font-weight: 400;
                line-height: 18px;
                text-transform: uppercase;
                border-radius: 30px;
                padding: 2px;
              }
            // width: 100% !important;
            display: -webkit-box;display: -ms-flexbox;display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-transition: .5s all;
            transition: .5s all;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;


            .product-image-container {
                width: 175px !important;
            }

            .product-image-wrapper {
                //padding-bottom: 60% !important;

                .product-image-photo {
                    width: 100%;
                }
            }

            .discount-label {
                color: #a37432;

                font-family: "Arial";

                font-size: 17px;

                font-weight: 700;

                line-height: 18px;
                border: 2px solid #a37432;
                border-radius: 40px;
                width: 60px;
                height: 26px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                margin-bottom: 0px;

            }

        }

        .product.details.slider-product-item-details {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
                    .actions-secondary{
                        .action.towishlist{

                            margin-top: 12px;
                            &::before{
                                color:#a37432;
                                width: 24px;
                                height: 21px;
                                font-size: 20px;
                                line-height: 20px;

                            }
                            span{
                                display: none;
                            }
                        }
                    }

            .product-reviews-summary.short.empty {
                .reviews-actions {
                    .action.add {
                        position: relative;
                        font-size: 0;
                        width: 24px;
                        display: block;
                        height: 21px;
                        -webkit-box-flex: 1;
                            -ms-flex-positive: 1;
                                flex-grow: 1;
                        margin-top: 2px;

                        &::before {
                            position: absolute;
                            content: "";
                            font-size: 20px;
                            background: url('@{baseDir}images/heart.png') no-repeat;
                            background-size: cover;
                            width: 24px;

                            height: 21px;


                        }

                    }

                }

            }

            .price-label {
                display: none;

            }

            .price-wrapper {
                .price {
                    color: #da1f3c;

                    font-family: "Arial";

                    font-size: 18px;

                    font-weight: 400;

                    line-height: 17.89px;

                }

            }

            .product.name.product-item-name {
                color: #000000;

                font-family: "Arial";
                font-size: 16px;
                -webkit-transition: .6s all;
                transition: .6s all;

                font-weight: 400;
                text-align: center;
                width: 100%;
                margin-right: 1px;
                padding-bottom: 15px;

            }

            .price-box {
                -webkit-box-flex: 1;
                    -ms-flex-positive: 1;
                        flex-grow: 1;
                text-align: right;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: end;
                    -ms-flex-pack: end;
                        justify-content: flex-end;
                flex-grow: 1;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;

                .old-price {
                    span {
                        color: #505050;

                        font-family: "Arial";
                        text-decoration: line-through;

                        font-size: 15px;

                        font-weight: 400;

                        line-height: 17.55px;

                    }


                }
            }

        }

    }
}

//media


.media-width(@extremum, @break) when (@extremum ='max') and (@break =@screen__m) {
    body.cms-home {
        .mp-product-slider-block.block.widget.block-products-list.grid {
            padding-top: 80px;

            .mp-product-slider-title {

                font-size: 48px;


                &::before {

                    top: -38px;
                    background-image: url('@{baseDir}images/line-logo.png');



                }


            }

            .mp-ps-info {

                font-size: 18px;


                margin-bottom: 0rem;


            }

        }

        .product-item.product-slider {

            .product.details.slider-product-item-details {
                .price-wrapper {
                    .price {


                        font-size: 18px;


                    }

                }

                .product.name.product-item-name {
                    color: #000000;

                    font-family: "Arial";

                    font-weight: 400;
                    text-align: center;

                }

                .product.name.product-item-name {

                    font-size: 16px;


                }

            }

        }



    }
}

.media-width(@extremum, @break) when (@extremum ='max') and (@break =@screen__s) {
  body.cms-home .view-home-category-custom{
    width: 268px;

  }
    body.cms-home {

        .owl-carousel .owl-nav.disabled,
        .owl-carousel .owl-dots.disabled {
            display: none;
        }

        .mp-product-slider-block.block.widget.block-products-list.grid {
            padding-top: 45px;

            .mp-product-slider-title {


                font-size: 28px;
                padding-top: 0;
                margin-bottom: 0;


                &::before {
                    background-image: url('@{baseDir}images/line-logo320.png');

                    top: -40px;
                    background-size: auto;



                }


            }

            .mp-ps-info {


                font-size: 18px;


                margin-bottom: 0rem;


            }

        }

        .product-item.product-slider {

            .product.details.slider-product-item-details {
                .price-wrapper {
                    .price {


                        font-size: 18px;


                    }

                }

                .product.name.product-item-name {
                    color: #000000;

                    font-family: "Arial";

                    font-weight: 400;
                    text-align: center;

                }

                .product.name.product-item-name {

                    font-size: 16px;


                }

            }

        }

    }
}

.media-width(@extremum, @break) when (@extremum ='min') and (@break =@screen__xl) {
    body.cms-home .product-items.widget-viewed-grid{
        .owl-carousel .owl-nav {
            .owl-prev {
                span {

                    &:after {

                        left: -5.6%;

                    }

                }

            }

            .owl-next {
                span {
                    &:after {

                        right: -5.6%;


                    }

                }

            }

        }

    }



}
