.product-review-product, .page-product-configurable,
.catalog-product-view{
   
    .modal-inner-wrap{
       
        .popup-chart {
            text-align: center;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;

            span {
                font-size: 22px;
                font-family: "Arial";
                font-weight: 400;
                color: #000;
                text-transform: uppercase;
            }

            .yellow {
                color: #a37432;
            }
        }

    }
    .block.review-add{
        .field.review-field-nickname.required {
            font-family: "Arial";
        }
        .review-control-vote label:before, .review-control-vote:before {
            color: #a37432;
        }
        .review-form {
            background-color: #ebebeb;
            width: 100%;
            padding-left: 38px;
            padding-right: 38px;
            max-width: none;
            margin-top: 28px;
            input:not([disabled]):focus, textarea:not([disabled]):focus{
                -webkit-box-shadow: 0 0 3px 1px #d2a361;
                box-shadow: 0 0 3px 1px #d2a361;
            }
            .fieldset{
                margin-bottom: 10px;
            }
            .field.required.review-field-ratings{
                height: 65px;
                .control{
                    div.mage-error[generated]{
                        margin-top: -16px;
                    }
                }
                .field.choice.review-field-rating{
                    height: 50px;
                }
            }
            .control.review-control-vote{
                height: 50px;
            }

            #reviews{
                .block.review-list{
                    .block-title{
                        display: none;

                    }

                }
                margin-top: 0;
                padding: 0;
                border: none;

            }
            .items.review-items{
                .item.review-item{
                    .review-content{
                        color: #454545;
                        font-family: "Arial";
                        font-size: 16px;
                        font-weight: 400;

                    }
                }

            }

            .legend.review-legend {
                margin-top: 40px;
                strong{
                    display: none;
                }

                span {
                    color: #a37432;
                    font-family: "Arial";
                    font-size: 22px;
                    font-weight: 400;
                    text-transform: uppercase;

                }
            }

            .field {
                .control {
                    #summary_field, #review_field{
                        padding-left: 18px;
                    }
                    position: relative;
                    display: inline-block;
                    width: 100%;

                    input {
                        height: 60px;
                        border: 1px solid #ebebeb;
                        background-color: #ffffff;
                        padding-left: 18px;
                    }

                    textarea {
                        height: 138px;
                        border: 1px solid #ebebeb;
                        background-color: #ffffff;
                    }

                }



                .control .input-text+label {
                    position: absolute;
                    left: 23px;
                    bottom: 18px;
                    color: #575757;
                    opacity: .5;
                    cursor: text;
                }

                .control .input-text+label:after {
                    content: '*';
                    color: #a37432;
                    vertical-align: -3px;
                    margin-left: 2px;
                }
            }

            .review-form-actions {
                .primary.actions-primary {
                    margin-bottom: 40px;

                    button {
                        text-align: center;
                        border: 2px solid #a37432;
                        background-color: #a37432;
                        -webkit-transition: .4s all;
                        transition: .4s all;
                        width: 170px;
                        height: 60px;

                        span {
                            color: #fff;

                            font-family: "Arial";

                            font-weight: 400;

                            line-height: 14px;

                            text-transform: uppercase;
                            vertical-align: middle;
                        }

                        &:hover {
                            span {
                                color: #a37432;
                            }

                            border: 2px solid #a37432;

                            background-color: transparent;

                        }

                    }

                }

            }

        }

    }
    .product.media{
        margin-bottom: 0;
    }
    .product.info.detailed .product.data.items .data.item.content{
        padding:0;
        margin-top:0;
        border:none;
        .review-toolbar{
            border:none;
        }
        .review-item {
            font-family: "Arial";
            border: none;
            .review-content{
                margin: 10px 0 20px;
            }
            .header-info {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                        justify-content: space-between;
                border-bottom: 1px solid #a97d40;
                .review-ratings{
                    .rating-summary .rating-result > span:before{
                        color: #a37432;
                    }
                }
                .review-details {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    .customer-info {
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        .review-author, .review-title{
                            font-weight: 500;
                            font-size: 18px;
                            color: #000000;
                        }
                        .review-author {
                            margin-right: 8px;
                            strong.review-details-value{
                                font-weight: 500;
                            }
                        }
                        .review-title {
                            margin: 3px 20px 0 0;
                        }
                    }
                    .review-date {
                        color: #7a7a7a;
                        font-size: 16px;
                        margin-top: 2px;
                    }
                }
            }
        }
    }
}


.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .product-review-product, .page-product-configurable,
    .catalog-product-view {
        .review-form{
            padding-bottom: 2px;
        }
        .product.info.detailed {
            .product.data.items .data.item.content {
                padding: 10px 15px 30px;
                li.review-item .header-info{
                    display: block;
                    .review-ratings{
                        float:none;
                        margin-bottom: 10px;
                    }
                }
            }
        }

    }
}