.cms-shops {
  .header-wrap {
    background: url('@{baseDir}images/triumf_contacts.png') no-repeat center;
    background-size: cover;
  }
  .shop-contact {
    padding-bottom: 20px;
    ul {
      padding-right: 0;
    }

    .footer_new_links {
      margin: 20px 20px 0 20px;
      display: block;
      width: 150px;

      .footer-links li {
        margin-bottom: 10px;

        a {
          font-size: 14px;

          &:hover {
            color: #CD853F;
          }
        }
      }
    }

    .social-links {
      background: #ebebeb;
      width: 100%;
      text-align: center;
    }

    .callback_phone_number a,
    .footer-links li a,
    .email-address-links a {
      color: #454545;
      text-decoration: none;
    }

    .callback_phone_number {
      margin: 10px 0 30px 0;
      display: block;
      width: 180px;

      .feedback-form {
        color: #CD853F;

        &:hover {
          text-decoration: underline;
        }
      }

      .phone-number {
        padding: 0;
        list-style: none;
      }

      .icon-Forma_1__2 {
        width: 40px;
        height: 0;
        font-size: 20px;

        &:before {
          content: "\e909";
          color: #be8f4d;
        }
      }

      li {
        margin-bottom: 10px;
        margin-left: 29px;

        a {
          font-size: 15px;
          color: #454545;
        }
      }

    }

    .footer_links_address {
      margin: 50px 20px 0 20px;
      font-size: 13px;
      display: block;

      .email-address-links,
      .city-address {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
                flex-direction: row;
        -webkit-box-pack: unset;
                justify-content: unset;
                align-items: center;
                
      }

      .email-address-links {
        margin-bottom: 15px;

        .icon-Forma_1__3 {
          &:before {
            content: "\e903";
            color: #be8f4d;
          }
        }

        a {
          padding-left: 10px;
        }
      }

      .address-list {
        list-style: none;
        padding-left: 0;
        .city-address {
          .city-address-links {
            padding-left: 10px;
            display: -webkit-inline-box;
            display: inline-flex;
            align-items: center;
            flex-wrap: wrap;

            h3 {
              margin-right: 10px;
              color: #a37432;
              text-transform: uppercase;
              font-family: "Arial";
              margin-top: 11px;
              font-weight: 500;
            }
          }

          .icon-Shape_1__4 {
            &:before {
              content: "\e904";
              color: #be8f4d;
              font-size: 22px;
            }
          }
        }
      }
    }



  }

}
