
.block-decore{
  &:before{
    position: absolute;
    content: "";
    display: block;
    width: 75%;
    top: 58px;
    height: 35px;
    background-image: url('@{baseDir}images/line-logo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

#social-login-popup {
  background: url('@{baseDir}images/pop-up-back.png') no-repeat;
  max-width: 1600px;
  height: 800px;
  display: flex;
  .mfp-close {
    background: transparent;
    color: transparent!important;
    border: none;
    &:before {
      content: "\e90d";
      color: #a27431;
      font-family: 'icomoon' !important;
      font-size: 23px;
    }
    &:hover {
      &:before {
        color: #4c3e3d;
      }
    }
  }
  .block-container.special{
    display: flex;
    align-items: center;
    justify-content: center;
      border-top: 3px solid #a47432;
    .block {
      margin: 0 auto;
      max-width: 810px;
      width: 100%;
      float: none;
      padding: 40px 20px 0 20px;
      .block-content{
        position: unset!important;
        .social-login-ajax-loading{
          top: 0;
          left: 0;
        }
      }
    .block-title.head {
      font-size: 20px;
      text-transform: uppercase;
      border-bottom: none;
      margin-bottom: 25px;
      text-align: center;
      span {
        color: #a37432;
        font-family: "Arial";
        font-size: 22px;
        font-weight: 400;
        text-transform: uppercase;
      }
    }

    form {
      input[type="email"], input[type="password"], input[type="text"] {
        height: 60px;
        border: 1px solid #ffffff;
        margin: 0 0 20px;
      }
        .input-text.mage-error, .input-text.required-entry.mage-error{
            border: 1px solid #e24b41;
        }
      input:not([disabled]):focus {
        box-shadow: 0 0 3px 1px #d2a361;
      }
      div.mage-error[generated] {
        position: relative;
        top: -19px;
        left: 0;
        z-index: 99;
        height: 0;
        margin: 0;
      }
      .fieldset>.field{
        margin: 0;
        label{
          display: none;
        }
      }
      .primary.btnlog {
        #bnt-social-login-authentication, .action.create.primary, .action.send.primary {
          background-color: #a47432;
          border-radius: unset;
          height: 60px;
          width: 170px;
          text-transform: uppercase;
          &:hover {
            background-color: #4c3e3d;
          }
        }
      }

      .auth-footer {
        text-align: center;
        position: absolute;
        top: 85%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);

        .actions-toolbar {
          display: flex;
          justify-content: center;
          a {
            text-decoration: underline;
            color: #a37432;
            margin-right: 0;
            padding: 0 10px;
            font-family: "Arial";
            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
  .block-container.special .block.form {
    margin-bottom: 93px;
  }
  .block-container.forgot.special{
    .block-decore{
      &:before {
        top: 184px;
      }
    }
  }
  .block-container.authentication.special{
    .block-decore{
      &:before {
        top: 124px;
      }
    }
  }
  .block-container.special .block.custom-cont{
    .actions-toolbar {
      text-align: center;
      .primary {
        float: none;
      }
    }
  }
  .block-container.special .block.facebook {
    padding: 0;
    .actions-toolbar{
        margin-top:0;
      a {
        text-align: center;
        padding: 12px;
        border-radius: unset;
        text-transform: uppercase;
          align-items: center;
          display: flex;
          justify-content: center;
        span {
          position: unset;
          border-right: unset;
        }
      }
    }
  }
  .block-content .g-recaptcha{
    padding-top:0;
  }
}
