
.stock_next{
  text-align: center;
  .prev_page, .next_page{
    display: inline-block;
  }
  button{
    box-shadow: none;
    border: none;
    font: inherit;
    color: #fff;
    background: transparent;
    &:hover, &:focus{
      border: none;
      color: #fff;
      background: transparent;
    }
  }
  .stock-prev span{
    position: relative;
    &:after{
      content: "\e900";
      font-family: 'icomoon' !important;
      color: #be8f4d;
      top: 0;
      font-size: 22px;
      right: 0;
      margin: auto;
      font-weight: 600;
    }
  }
  .stock-next span{
    position: relative;
    &:after{
      color: #be8f4d;
      content: "\e901";
      font-family: 'icomoon' !important;
      top: 0;
      font-size: 22px;
      font-weight: 600;
      right: 0;
      margin: auto;
    }
  }
  .paginator {
    line-height: 150%;
    text-align: center;
    width: 100px;
    display: inline-block;
  }
  .paginator > span {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    font-size: 18px;
  }
  .paginator_active {
    color: #be8f4d;
    border: 2px solid #be8f4d;
    border-radius: 60px;
    padding: 2px 20px;
  }
}
.category-akcii {
  .page{
    text-align: center;
  }
  .breadcrumbs {
    .items .item.category15 {
      display: inline-block;
      strong {
        color: #ffffff;
        font-family: "Arial";
        font-size: 14px;
        font-weight: 400;
      }
    }
  }
  .actions-toolbar > .primary .action {
    height: 60px;
    width: 260px;
  }

  .header-wrap {
    background: url('@{baseDir}images/triumf_actions.png') no-repeat center;
    background-size: cover;
  }
}
.subcategory-collection{
  padding-left: 0;
  flex-wrap: wrap;
  max-width: 1197px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  background-color: #fff;
  margin: auto;
  padding-bottom: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row wrap;
  display: flex;
  list-style-type: none;
  overflow: hidden;
  .subcategory-list{
    width: 48%;
    margin: 15px 0 20px 0;
    .num {
      .product-image-container{
        height: 251px;
        margin: auto;
        text-align: center;
      }
      .name-subcategory {
        text-align: left;
        a {
          font-size: 20px;
          font-family: "Arial";
          text-transform: uppercase;
          color: #000;
          font-weight: 500;
          text-decoration: none;
          &:hover {
            color: #a37432;
          }
        }
        .action-info {
          display: flex;
          flex-direction: column;
          .actions_title {
            font-size: 18px;
            text-transform: uppercase;
            color: #a37432;
          }
          .actions_date {
            font-size: 16px;
            color: #7a7a7a;
          }
        }
      }
    }
  }
}

.media-width(@extremum, @break) when (@extremum ='min') and (@break =@screen__l) {
  ul.subcategory-collection{
    -webkit-box-pack: center;
    justify-content: center;
    .subcategory-list{
      -webkit-box-flex: 0;
      flex-grow: 0;
      width: 100%;
      margin: 10px;
      max-width: 369px;
      display: block;
      cursor: pointer;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      flex-flow: row wrap;
    }
  }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
  .category-akcii.page-products .columns{
    padding-top: 0;
  }
  .category-akcii {
    //.breadcrumbs {
    //  display: none;
    //}
    //.page-title-wrapper .header-wrap {
    //  height: 182px;
    //  &:before {
    //    top: 136px;
    //    height: 23px;
    //    background-size: cover;
    //  }
    //}
  }
}
.media-width(@extremum, @break) when (@extremum ='max') and (@break =@screen__s) {
  .category-akcii .page-title-wrapper .header-wrap {
    height: 120px;
    //&:before {
    //  top: 117px;
    //  height: 25px;
    //}
    //h1{
    //  font-size: 28px;
    //  margin: 0 0 17px 0;
    //}
  }
  ul.subcategory-collection{
    -webkit-box-pack: justify;
    justify-content: space-between;
    .subcategory-list{
      width: 48%;
      -webkit-box-flex: 0;
      flex-grow: 0;
      cursor: pointer;
      .num {
        .product-image-container{
          height: 180px;
        }
      }
    }
  }
}

.media-width(@extremum, @break) when (@extremum ='max') and (@break =@screen__xs) {
  ul.subcategory-collection{
    .subcategory-list{
      width: 100%;
      max-width: 260px;
      margin: 0 auto;
      margin-bottom: 20px;
    }
  }
}

