/*cms page diplomas*/

#diplomas_popup{
    width: 900px;
    margin: auto;
    text-align: center;
}
#diplomas_popup div{
     display: inline-block;
}
#diplomas_popup img{
    width: 200px;
    height: 200px;
    cursor: pointer
}
.show-diplomas{
    z-index: 999;
    display: none;
}
.show-diplomas .overlay{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.66);
    position: absolute;
    top: 0;
    left: 0;
}
.show-diplomas .img-show{
    width: 600px;
    height: 400px;
    background: #FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden
}
.img-show span{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 99;
    cursor: pointer;
}
.img-show img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/*cms page collective*/
#information_collective{
    display: inline-block;
    margin-top: 2px;
    vertical-align: top;
    width: 64%;
}
#collective_image{
    text-align: right;
    width: 34%;
    display: inline-block;
    vertical-align: top;
}
#collective_image img{
    text-align: right;
    width: 150px;
    height: 150px;
    border: 1px solid green;
}
#home_image{
    text-align: right;
    width: 54%;
    display: inline-block;
    vertical-align: top;
}
#home_image img{
    border: 1px solid yellow;
    width: 350px;
    height: 250px;
}
.name_employee{
    text-align: left;
    width: 34%;
    display: inline-block;
    vertical-align: top;
}
/*header links*/
.header-links{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.header-new-links{
    float: left;
    margin-left: 25px;
}
.header-new-links a{
    color: #ffffff;
}

