
<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
if($this->isActive()):

    $_helper = $this->helper('Magento\Catalog\Helper\Output');
    $customerData = $this->getCustomerData();
    ?>
    <div id="popup-form-request" class="no-display">
        <div id="feedbackform-message-container">
            <div class="message">
                <div class="message-date"></div>
            </div>
        </div>
        <form action="<?php echo $block->getUrl('feedbackform'); ?>"  class="product-contact-form" id="product-contact-form" method="post">
            <div class="left-side">
                <input class="input-text required" name="name" type="text" placeholder="<?= $block->escapeHtml(__('Name')) ?>*"  value="<?php echo $customerData['first_name'];?>" />
                <input class="input-text required" id="phone_callback" name="phone" type="text" placeholder="<?= $block->escapeHtml(__('Phone')) ?>*"  value="<?php echo $customerData['phone'];?>" />
            </div>
        </form>
    </div>
<?php endif; ?>
