<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2020 Amasty (https://www.amasty.com)
 * @package Amasty_Shopby
 */
?>
<?php
/** @var $block SwatchRenderer| \Amasty\Shopby\Block\Navigation\State */
use Amasty\Shopby\Block\Navigation\SwatchRenderer;
use Amasty\Shopby\Model\Source\DisplayMode;
use Magento\Swatches\Model\Swatch;

?>
<?php
$swatchData = $block->getSwatchData();
$isSwatchBlock = $block instanceof \Amasty\Shopby\Block\Navigation\State\Swatch;
$filterSetting = $block->getFilterSetting();
$filterCode = $filterSetting ? $block->escapeHtml($filterSetting->getFilterCode()) : '';
$extraClass = $filterSetting ? "am-filter-items-" . $filterCode : "";
$attributeCode = $block->escapeHtml($swatchData['attribute_code']);
$attributeFilter = $block->getFilter() ? $block->getFilter()->getRequestVar() : "";
$displayMode = $filterSetting ? $filterSetting->getDisplayMode() : false;
$displayMode = $displayMode ?: $block->getDisplayModeByAttributeCode($attributeCode);
$showImagesLabel = ($displayMode == DisplayMode::MODE_IMAGES_LABELS) ? true : false;
$relNofollow = $filterSetting ? $filterSetting->isAddNofollow() : false;
$sortOptions = false;
if ($swatchData['attribute_code'] == 'size' || $swatchData['attribute_code'] == 'length') {
    $sortOptions = true;
}
?>

<?php if ($filterSetting && $showImagesLabel && $filterSetting->isShowSearchBox(count($swatchData['options']))): ?>
    <?= /* @noEscape */ $block->getSearchForm(); ?>
<?php endif; ?>
    <form class="am-shopby-form" data-amshopby-filter="<?= /* @noEscape */ $attributeFilter ?>"
        <?php if ($filterSetting && $filterSetting->getEnableOverflowScroll() > 0): ?>
            style="max-height:<?= /* @noEscape */ $filterSetting->getEnableOverflowScroll() ?>px;"
        <?php endif; ?>>
        <div class="<?= /* @noEscape */ $extraClass;?> swatch-attribute swatch-layered
            <?= /* @noEscape */ $attributeCode ?> <?= $showImagesLabel ? 'am-swatch-options' : ''; ?>"
            data-attribute-code="<?= /* @noEscape */ $attributeCode ?>"
            data-attribute-id="<?= /* @noEscape */ $swatchData['attribute_id'] ?>"
            data-am-js="swatch-options">
            <?php if ($sortOptions) : ?>
                <?php
                    uasort($swatchData['options'], function ($a, $b) {
                        return (float)$a['label'] <=> (float)$b['label'];
                    });
                ?>
            <?php endif; ?>
            <?php foreach ($swatchData['options'] as $option => $label): ?>
            <?php if ($attributeCode == 'length' && $label['label'] == '0'): continue; endif; ?>
            <div class="am-swatch-wrapper item swatch-option-link-layered">
                <?php
                $selected = array_key_exists(SwatchRenderer::VAR_SELECTED, $label)
                    && $label[SwatchRenderer::VAR_SELECTED];
                $extraSwatchClass = $selected ? 'selected' : '';
                ?>
                <?php if ($isSwatchBlock): ?>
                    <span class="swatch-option-link-layered am-swatch-link">
                <?php else: ?>
                    <?php if ($filterSetting && $filterSetting->isMultiselect()):
                        $inputType = "checkbox";
                    elseif ($filterSetting && !in_array($filterCode, ['rating', 'stock'])):
                        $inputType = "radio";
                    endif;?>
                    <?php if (isset($inputType)): ?>
                        <input  class="input -hidden"
                                name="amshopby[<?= /* @noEscape */ $block->getFilter()->getRequestVar(); ?>][]"
                                value="<?= /* @noEscape */ $option; ?>"
                                type="<?= /* @noEscape */ $inputType; ?>"
                            <?= /* @noEscape */ $selected ? 'checked' : ''; ?>
                        />
                    <?php endif; ?>

                    <a href="<?= $block->escapeUrl($label['link']) ?>"
                        <?= $relNofollow ? ' rel="nofollow"' : '' ?>
                       data-label="<?= $block->escapeHtml($label['label']) ?>"
                       class="am-swatch-link">
                <?php endif; ?>

                    <?php if (isset($swatchData['swatches'][$option]['type'])): ?>
                        <?php switch ($swatchData['swatches'][$option]['type']):
                            case Swatch::SWATCH_TYPE_EMPTY:
                                $class = '';
                                $optionType = 3;
                                $swatchThumbPath = '';
                                $swatchTooltipValue = '';
                                $style = '';
                                $value = '';
                                      break;
                            case Swatch::SWATCH_TYPE_VISUAL_IMAGE:
                                $class = 'image';
                                $optionType = 2;
                                $swatchTooltipValue = '';
                                $swatchThumbPath = $block->getSwatchPath(
                                    'swatch_thumb',
                                    $swatchData['swatches'][$option]['value']
                                );
                                $swatchImagePath = $block->getSwatchPath(
                                    'swatch_image',
                                    $swatchData['swatches'][$option]['value']
                                );
                                $style = "background-image: url(" . $swatchImagePath . ")";
                                $value = '';
                                      break;
                            case SwatchRenderer::SWATCH_TYPE_OPTION_IMAGE:
                                $class = 'image';
                                $optionType = 2;
                                $swatchThumbPath = $swatchData['swatches'][$option]['value'];
                                $swatchTooltipValue = '';
                                $style = "background-image: url(" . $swatchData['swatches'][$option]['value'] . ")";
                                $value = '';
                                      break;
                            case Swatch::SWATCH_TYPE_VISUAL_COLOR:
                                $class = 'color';
                                $optionType = 1;
                                $swatchThumbPath = '';
                                $swatchTooltipValue = $swatchData['swatches'][$option]['value'];
                                $style = "background-color: " . $swatchData['swatches'][$option]['value'] . ";";
                                $value = '';
                                      break;
                            case Swatch::SWATCH_TYPE_TEXTUAL:
                            default:
                                $class = 'text';
                                $optionType = 0;
                                $swatchThumbPath = '';
                                $swatchTooltipValue = '';
                                $style = '';
                                $value = $swatchData['swatches'][$option]['value'];
                                      break;
                        endswitch; ?>
                        <div class="<?= /* @noEscape */ $extraSwatchClass; ?> swatch-option
                            <?= /* @noEscape */ $label['custom_style'] ?> <?= /* @noEscape */ $class; ?> "
                             data-am-js="swatch-item"
                             option-type="<?= /* @noEscape */ $optionType; ?>"
                             option-id="<?= /* @noEscape */ $option ?>"
                             option-label="<?= $block->escapeHtml($label['label']) ?>"
                             option-tooltip-thumb="<?= /* @noEscape */ $swatchThumbPath ?>"
                             option-tooltip-value="<?= /* @noEscape */ $swatchTooltipValue ?>"
                             style="<?= /* @noEscape */ $style ?>">
                            <?= /* @noEscape */ $value ?>
                        </div>
                    <?php endif; ?>

                    <?php if ($showImagesLabel): ?>
                        <div class="am-shopby-swatch-label">
                            <span class="label"><?= $block->escapeHtml($label['label']) ?></span>
                            <?php if ($filterSetting && $filterSetting->isShowProductQuantities()): ?>
                                <span class="count"><?= /* @noEscape */ $label[SwatchRenderer::VAR_COUNT]; ?></span>
                                <span class="filter-count-label">
                                <?php $title = ($label[SwatchRenderer::VAR_COUNT] == 1) ? __('item') : __('items');?>
                                <?= /* @noEscape */ $block->escapeHtml($title) ?>
                            </span>
                            <?php endif; ?>
                        </div>
                    <?php endif; ?>


                <?php if ($isSwatchBlock): ?>
                    </span>
                <?php else: ?>
                    </a>
                <?php endif; ?>
            </div>
            <?php endforeach; ?>
        </div>
    </form>
    <script>
        require(["jquery", "Magento_Swatches/js/swatch-renderer"], function ($) {
            $('[data-am-js="swatch-item"]').SwatchRendererTooltip();
        });
    </script>
<?php if ($filterSetting): ?>
    <script type="text/x-magento-init">
{
    ".<?= /* @noEscape */ $extraClass; ?>": {
        "amShopbyFilterSwatch": {
            "collectFilters": <?= /* @noEscape */ $block->collectFilters();?>
        }
    }
}
</script>
<?php endif; ?>
