<?php $isEnable = $block->getConfig('faqtab/general/enable') ?>
<?php $showGroup = $block->getConfig('faqtab/general/showgroup') ?>
<?php $showGroupTitle = $block->getConfig('faqtab/general/showgrouptitle') ?>
<?php $pageType = $block->getConfig('faqtab/general/page_type') ?>
<?php $faqGroupCollection = $block->getFaqGroupCollection() ?>
<?php if ($faqGroupCollection->getSize()) : ?>
    <?php if ($isEnable) : ?>
    <div class="faq-collection" >
        <div id="faq-content" class="faq-content">
            <?php if ($pageType == 'scroll') : ?>
                <?php foreach ($faqGroupCollection as $group) : ?>
                    <div class="faq-accordion">
                    <?php $faqCollection = $block->getFaqCollection($group->getId()); ?>
                        <?php if ($faqCollection->getSize()) : ?>
                            <?php foreach ($faqCollection as $faq) : ?>
                                <h3><?php /* @noEscape */ echo $faq->getTitle(); ?></h3>
                                <div>
                                    <p><?php /* @noEscape */ echo $block->filterOutputHtml($faq->getContent()); ?></p>
                                </div>
                            <?php endforeach; ?>
                        <?php else : ?>
                            <div><?php /* @noEscape */ echo __('No FAQ available'); ?></div>
                        <?php endif; ?>
                    </div>
                <?php endforeach; ?>
            <?php else :?>
                <?php $group = $faqGroupCollection->getFirstItem(); ?>
                <?php if ($showGroupTitle) : ?>
                    <div class="group-title" id="group<?php /* @noEscape */ echo $group->getFaqgroupId(); ?>">
                        <i></i><?php /* @noEscape */ echo $group->getGroupName(); ?>
                    </div>
                <?php endif; ?>
                <div class="faq-accordion">
                    <?php $faqCollection = $block->getFaqCollection($group->getId()); ?>
                    <?php if ($faqCollection->getSize()) : ?>
                        <?php foreach ($faqCollection as $faq) : ?>
                            <h3><?php /* @noEscape */ echo $faq->getTitle(); ?></h3>
                            <div>
                                <p><?php /* @noEscape */ echo $block->filterOutputHtml($faq->getContent()); ?></p>
                            </div>
                        <?php endforeach; ?>
                    <?php else : ?>
                        <div><?php /* @noEscape */ echo __('No FAQ available'); ?></div>
                    <?php endif; ?>
                </div>
            <?php endif; ?>
        </div>
    </div>
    <?php endif; ?>
<?php else : ?>
    <div>
        <h1><?php /* @noEscape */ echo __('No FAQ Group available'); ?></h1>
    </div>
<?php endif; ?>
<script type="text/x-magento-init">
    {
        "*": {
            "faq": {
                "pageType" : "<?php echo $pageType ?>",
                "ajax_url" : "<?php echo $this->getUrl() ?>"
            }
        }
    }
</script>
