<?php

/** @var \Magento\Review\Block\Form $block */
?>
<div class="block review-add">
    <div class="block-title"><strong><?= $block->escapeHtml(__('Write Your Own Review')) ?></strong></div>
    <div class="block-content">
        <?php if ($block->getAllowWriteReviewFlag()) : ?>
            <form action="<?php echo $block->escapeUrl($block->getAction()); ?>"
                  class="review-form"
                  method="post"
                  id="review-form"
                  autocomplete="off"
                  data-role="product-review-form"
                  data-bind="scope: 'review-form'">
                <?= $block->getBlockHtml('formkey') ?>
                <?= $block->getChildHtml('form_fields_before') ?>
                <fieldset class="fieldset review-fieldset" data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>">
                    <legend class="legend review-legend"><span><?= $block->escapeHtml(__("You're reviewing:")) ?></span><strong><?= $block->escapeHtml($block->getProductInfo()->getName()) ?></strong></legend><br />
                    <?php if ($block->getRatings() && $block->getRatings()->getSize()) : ?>
                        <span id="input-message-box"></span>
                    <?php endif ?>
                    <div class="field review-field-nickname required">
                       <!-- <label for="nickname_field" class="label"><span><?= $block->escapeHtml(__('Nickname')) ?></span></label>-->
                        <div class="control">
                            <input type="text" name="nickname" id="nickname_field" placeholder="<?= $block->escapeHtml(__('Name')) ?>*" class="input-text required" data-bind="value: nickname()" />
                        </div>
                    </div>
                    <div class="field review-field-summary required">
                      <!--  <label for="summary_field" class="label"><span><?= $block->escapeHtml(__('Summary')) ?></span></label>-->
                        <div class="control">
                            <input type="text" name="title" id="summary_field" placeholder="<?= $block->escapeHtml(__('City ​​of residence')) ?>*" class="input-text required" data-bind="value: review().title" />
                        </div>
                    </div>
                    <div class="field review-field-text required">
                        <!--<label for="review_field" class="label"><span><?= $block->escapeHtml(__('Review')) ?></span></label>-->
                        <div class="control">
                            <textarea name="detail" id="review_field" cols="5" rows="3" placeholder="<?= $block->escapeHtml(__('Your review')) ?>" class="input-text" data-bind="value: review().detail"></textarea>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="field required review-field-ratings">
                            <!--<legend class="label"><span><?= $block->escapeHtml(__('Your Rating')) ?></span></legend><br/>-->
                            <div class="control">
                                <div class="nested" id="product-review-table">
                                    <?php foreach ($block->getRatings() as $_rating) : ?>
                                        <div class="field choice review-field-rating">
                                            <!--<label class="label" id="<?= $block->escapeHtmlAttr($_rating->getRatingCode()) ?>_rating_label"><span><?= $block->escapeHtml($_rating->getRatingCode()) ?></span></label>-->
                                            <div class="control review-control-vote">
                                                <?php $options = $_rating->getOptions();?>
                                                <?php $iterator = 1; foreach ($options as $_option) : ?>
                                                    <input
                                                        type="radio"
                                                        name="ratings[<?= $block->escapeHtmlAttr($_rating->getId()) ?>]"
                                                        id="<?= $block->escapeHtmlAttr($_rating->getRatingCode()) ?>_<?= $block->escapeHtmlAttr($_option->getValue()) ?>"
                                                        value="<?= $block->escapeHtmlAttr($_option->getId()) ?>"
                                                        class="radio required-entry"
                                                        aria-labelledby="<?= $block->escapeHtmlAttr($_rating->getRatingCode()) ?>_rating_label <?= $block->escapeHtmlAttr($_rating->getRatingCode()) ?>_<?= $block->escapeHtmlAttr($_option->getValue()) ?>_label" />
                                                    <label
                                                        class="rating-<?= $block->escapeHtmlAttr($iterator) ?>"
                                                        for="<?= $block->escapeHtmlAttr($_rating->getRatingCode()) ?>_<?= $block->escapeHtmlAttr($_option->getValue()) ?>"
                                                        title="<?= $block->escapeHtmlAttr(__('%1 %2', $iterator, $iterator > 1 ? __('stars') : __('star'))) ?>"
                                                        id="<?= $block->escapeHtmlAttr($_rating->getRatingCode()) ?>_<?= $block->escapeHtmlAttr($_option->getValue()) ?>_label">
                                                        <span><?= $block->escapeHtml(__('%1 %2', $iterator, $iterator > 1 ? __('stars') : __('star'))) ?></span>
                                                    </label>
                                                    <?php $iterator++; ?>
                                                <?php endforeach; ?>
                                            </div>
                                        </div>
                                    <?php endforeach; ?>
                                </div>
                                <input type="hidden" name="validate_rating" class="validate-rating" value="" />
                            </div>
                        </fieldset>
                <div class="actions-toolbar review-form-actions">
                    <div class="primary actions-primary">
                        <button type="submit"  class="action submit primary"><span><?= $block->escapeHtml(__('Submit Review')) ?></span></button>
                    </div>
                </div>
            </form>

        <?php else : ?>
            <div class="message info notlogged" id="review-form">
                <div>
                    <?= $block->escapeHtml(__('Only registered users can write reviews. Please <a href="%1">Sign in</a> or <a href="%2">create an account</a>', $block->getLoginLink(), $block->getRegisterUrl()), ['a']) ?>
                </div>
            </div>
        <?php endif ?>
    </div>
</div>
<div id="popup-chart" class="popup-chart" style="display:none;">
    <span class="yellow"><?= $block->escapeHtml(__('Thank you')) ?></span>
    <span><?= $block->escapeHtml(__('For your review!')) ?></span>
</div>

<script type="text/x-magento-init">
    {
        "#review-form": {
            "validation": {}
        }
    }
</script>
