<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2019 Amasty (https://www.amasty.com)
 * @package Amasty_Checkout
 */
?>
<?php /** @var $block Amasty\Checkout\Block\Onepage\Success\Details */ ?>
<div class="account">
    <div class="column main">
        <div class="block block-order-details">
            <div class="block-title">
                <strong><?= $block->escapeHtml(__('Order details:')) ?></strong>
            </div>
            <div class="success-info">
                <div class="success-messages">
                    <?= $block->escapeHtml(__('Your order number is:')) ?>
                    <a href="<?php echo $block->getUrl('sales/order/view/', ['order_id' => $block->getOrder()->getEntityId(), '_secure' => true]); ?>"
                       class="order-number">
                        <strong>
                            <?= /* @noEscape */$block->getOrder()->getIncrementId() ?>
                        </strong>
                    </a>
                </div>
                <div class="order-date">
                    <?= $block->escapeHtml(__('Order Date:')) ?> <?= $block->escapeHtml(
                        $block->formatDate(
                            $block->getOrder()->getCreatedAt(),
                            \IntlDateFormatter::LONG
                        )
                    ) ?>
                    <?= $block->getChildHtml('delivery') ?>
                    <span class="delivery-date"><?= $block->escapeHtml($block->getDeliveryInfo()) ?></span>
                </div>
            </div>
        </div>

        <?php $order = $block->getOrder();?>
        <div class="block block-order-details-view">
            <div class="block-content">
                <div class="box box-order-shipping-address">
                    <strong class="box-title"><span><?= __('Delivery info')?>:</span></strong>
                    <div class="box-content">
                        <address><?= $order->getShippingDescription();?></address>
                    </div>
                </div>
                <div class="box box-order-shipping-address">
                    <strong class="box-title"><span><?= __('Name')?>:</span></strong>
                    <div class="box-content">
                        <address><?= $order->getCustomerFirstname();?> <?= $order->getCustomerLastname();?></address>
                    </div>
                </div>
                <div class="box box-order-shipping-address">
                    <strong class="box-title"><span><?= __('Phone')?>:</span></strong>
                    <div class="box-content">
                        <address><?= $order->getShippingAddress()->getTelephone();;?></address>
                    </div>
                </div>
            </div>
        </div>

        <?= $block->getChildHtml('comments') ?>
        <?= $block->getChildHtml('order_view') ?>
    </div>
</div>
