<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Magento\Wishlist\Block\Customer\Wishlist\Item\Column\Info $block */

/** @var \Magento\Wishlist\Model\Item $item */
$item = $block->getItem();
$product = $item->getProduct();
?>
<?php $helper = $this->helper('Triumf\Customization\Helper\Data'); ?>
<?php if($helper->isProductNew($product)): ?>
    <div class="new-label">
        <?= $block->escapeHtml(__('New product')); ?>
    </div>
<?php endif; ?>
<?php if($helper->displayDiscountLabel($product)): ?>
    <div class="discount-label">
        <?php echo $helper->displayDiscountLabel($product); ?>
    </div>
<?php endif; ?>
<?php if(!empty($product->getTopSales())): ?>
    <div class="top-sales-label">
        <?= $block->escapeHtml(__('Top Sales')); ?>
    </div>
<?php endif; ?>
<strong class="product-item-name">
    <a href="<?= $block->escapeUrl($block->getProductUrl($item)) ?>" title="<?= $block->escapeHtmlAttr($product->getName()) ?>" class="product-item-link">
        <?= $block->escapeHtml($product->getName()) ?>
    </a>
</strong>
