<?php $category = $block->getCurrentCategory(); ?>
<?php $subcategories = $category->getChildrenCategories(); ?>
<?php $_helper = $this->helper('Magento\Catalog\Helper\Output'); ?>
<?php $objectManager = \Magento\Framework\App\ObjectManager::getInstance(); ?>
<?php if(count($subcategories) > 0): ?>
    <div class="page">
        <ul class="subcategory-collection">
            <?php foreach($subcategories as $subcategory): ?>
                <?php $subcategory = $objectManager->create('Magento\Catalog\Model\Category')->load($subcategory->getId()); ?>
            <?php ($subcategory->getCustomUrl()) ? $url = $block->getUrl($subcategory->getCustomUrl()) : $url = $subcategory->getUrl();?>
                <li class="subcategory-list">
                    <div data-num=1 class="num">
                        <?php if ($_imgUrl = $subcategory->getImageUrl()): ?>
                            <a href="<?= $subcategory->getUrl() ?>">
                                <span class="product-image-container">
                                    <?php $_imgHtml = '<img src="' . $_imgUrl . '" />'; ?>
                                    <?php echo $_imgHtml = $_helper->categoryAttribute($subcategory, $_imgHtml, 'image'); ?>
                                </span>
                            </a>
                        <?php endif; ?>
                        <div class="name-subcategory">
                            <strong class="product name product-item-name">
                                <a class="product-item-link" href="<?= $url ?>">
                                    <?= $subcategory->getName() ?>
                                </a>
                            </strong>
                            <div class="action-info">
                                <?php if($subcategory->getActionsTitle()): ?>
                                    <span class="actions_title"><?= $subcategory->getActionsTitle() ?></span>
                                <?php endif; ?>
                                <?php if($subcategory->getActionsDate()): ?>
                                    <span class="actions_date"><?= $subcategory->getActionsDate() ?></span>
                                <?php endif; ?>
                            </div>
                        </div>
                    </div>
                </li>
            <?php endforeach; ?>
        </ul>
    </div>
    <?php if(count($subcategories) > 9): ?>
        <div id="prev_next" class="stock_next">
            <div id="prev_page" class="prev_page">
                <button type="button"  class="stock-prev"><span aria-label="Previous">‹</span></button>
            </div>
            <div class="paginator" onclick="pagination(event)"></div>
            <div id="next_page" class="next_page">
                <button type="button"  class="stock-next"><span aria-label="Next">›</span></button>
            </div>
        </div>
    <?php endif; ?>
<?php else: ?>
    <?php if (!$block->isContentMode() || $block->isMixedMode()): ?>
        <?= $block->getProductListHtml() ?>
    <?php endif; ?>
<?php endif; ?>

