<!--
/**
 * Altima Nova Poshta Extension
 *
 * Altima Web Systems.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is available through the world-wide-web at this URL:
 * https://shop.altima.net.au/tos
 * For this package used API from https://devcenter.novaposhta.ua/docs/services/
 *
 * @category   Altima
 * @package    Altima_Novaposhta
 * @author     Altima Web Systems https://altimawebsystems.com/
 * @license    https://shop.altima.net.au/tos
 * @email      support@altima.net.au
 * @copyright  Copyright (c) 2019 Altima Web Systems (https://altimawebsystems.com/)
 */
-->
<div id="novapocha-home-delivery" style="margin-bottom: 15px;" class="novaposhta-shipping-information" data-bind="visible: selectedMethod() == 'novaposhtahome'">
    <div class="dpd-shipping-info">
        <div class="shipping-information-title" style="margin-bottom: 8px; padding-top: 10px;">
            <span data-bind="i18n: 'nova_poshta_title'"></span>
        </div>
        <div class="not_valid_block" style="display: none;">
            <div data-bind="html: getNotValidText();"></div>
        </div>
        <div class="shipping-information-content">
            <div class="field" style="margin-bottom: 6px;">
                <label data-bind="
                    attr: {
                    'id': 'label_streets_carier_c',
                    'for': 'streets_carier_c'
                }
                " class="label"><!-- ko i18n: 'nova_poshta_city_label' --><!-- /ko --></label> <span style="color:red;">*</span>
                <select class="input-text ship_city" data-bind="
                    cityHomeAutoComplete: {
                        selected: selectedCity2
                    },
                    event: {change: userChanges},
                    value: value,
                    valueUpdate: 'blur',
                    attr: {
                        name: 'streets_carier_c',
                        placeholder: placeholder,
                        id: 'streets_carier_c',
                        'aria-describedby': noticeId
                    }"><option value="0"><!-- ko i18n: 'nova_poshta_city_select' --><!-- /ko --></option>
                </select>
            </div>

            <div class="clearfix"></div>

            <div class="field">
                <label data-bind="
                    attr: {
                    'id': 'label_carrier_street',
                    'for': 'carrier_street'
                }
                " class="label"><!-- ko i18n: 'nova_poshta_street_label' --><!-- /ko --></label> <span style="color:red;">*</span>
                <select name="carrier_street" data-bind="streetAutoComplete: {
                        selected: selectedStreet
                    },
                    event: {change: userChanges},
                    value: value,
                    hasFocus: focused,
                    valueUpdate: valueUpdate,
                    attr: {
                        name: 'carrier_street',
                        'aria-describedby': noticeId,
                        id: 'carrier_street',
                        disabled: disabled
                    }"><option value="0"><!-- ko i18n: 'nova_poshta_street_select' --><!-- /ko --></option>
                </select>
            </div>
        </div>
    </div>
</div>